@model IEnumerable<Project0220.myModels.Supplier>

@* Suppliers 供應商 的 Index*@

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h2 class="text-center mb-5">Suppliers 供應商</h2>


<div class="container-fluid">
	<div class="row mb-5">
		<div class="col-md-6">
			<a class="btn btn-primary" asp-controller="Suppliers" asp-action="Create">
				<i class="fa-solid fa-plus"></i>
			</a>
		</div>
		<div class="col-md-6">
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>SupplierId</th>
					<th>CompanyName</th>
					<th>ContactName</th>
					<th>Phone</th>
					<th>Email</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var supplier in Model)
				{
					<tr>
						<td>@supplier.SupplierId</td>
						<td>@supplier.CompanyName</td>
						<td>@supplier.ContactName</td>
						<td>@supplier.Phone</td>
						<td>@supplier.Email</td>
						@*<td>@category.CreatedAt.ToString("yyyy/MM/dd")</td> *@
						<td style="white-space: nowrap;">
							<a class="btn btn-primary btn-sm" asp-controller="Suppliers" asp-action="Edit"
							   asp-route-id="@supplier.SupplierId">
								<i class="fa-regular fa-pen-to-square"></i>
						   </a>
							<a class="btn btn-danger btn-sm" asp-controller="Suppliers" asp-action="Delete"
							   asp-route-id="@supplier.SupplierId">
								<i class="fa-regular fa-trash-can"></i>
						   </a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity=" sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSf