@model List<Product>
@{
	Layout = null;
}
<!--引用-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">

	<div class="container-fluid">
		<a class="navbar-brand" asp-controller="Home" asp-action="Index">
			<img src="~/images/GGLogo.png" width="268.5" height="81.75"
				 class="d-inline-block align-top" alt="">
		</a>
		<a class="navbar-brand" asp-controller="Products" asp-action="Index"><strong>管理者頁面</strong></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-link" asp-controller="Categories" asp-action="Index">Categories</a>
				<a class="nav-link" asp-controller="Customers" asp-action="Index">Customers</a>
				<a class="nav-link" asp-controller="OrderDetails" asp-action="Index">OrderDetails</a>
				<a class="nav-link" asp-controller="Orders" asp-action="Index">Orders</a>
				<a class="nav-link" asp-controller="Products" asp-action="Index">Products</a>
				<a class="nav-link" asp-controller="Suppliers" asp-action="Index">Suppliers</a>
			</div>
		</div>
	</div>
</nav>
<br>


<h2 class="text-center mb-5">Products 產品清單</h2>


<div class="container-fluid">
	<div class="row mb-5">
		<div class="col-md-6">
			<a class="btn btn-primary" asp-controller="Products" asp-action="Create">新增</a>
		</div>
		<div class="col-md-6">
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ProductID</th>
					<th>ProductName</th>
					<th>SupplierID</th>
					<th>CategoryID</th>
					<th>UnitPrice</th>
					<th>UnitInStock</th>
					<th>Image1</th>
					<th>Image2</th>
					<th>Image3</th>
					<th>Image4</th>
					<th>Color1</th>
					<th>Color2</th>
					<th>Length</th>
					<th>Width</th>
					<th>Height</th>
					<th>Description</th>
					<th>SpecialZoneType</th>
					<th>CreatedAt</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var product in Model)
				{
					<tr>
						<td>@product.ProductID</td>
						<td>@product.ProductName</td>
						<td>@product.SupplierID</td>
						<td>@product.CategoryID</td>
						<td>$@product.UnitPrice</td>
						<td>@product.UnitInStock</td>
						<td>
							@if (!string.IsNullOrEmpty(product.Image1))
							{
								<img src="/images/All_product/@product.Image1" width="60">
							}
						</td>
						<td>
							@if (!string.IsNullOrEmpty(product.Image2))
							{
								<img src="/images/All_product/@product.Image2" width="60" alt="">
							}
						</td>
						<td>
							@if (!string.IsNullOrEmpty(product.Image3))
							{
								<img src="/images/All_product/@product.Image3" width="60" alt="">
							}
						</td>
						<td>
							@if (!string.IsNullOrEmpty(product.Image4))
							{
								<img src="/images/All_product/@product.Image4" width="60" alt="">
							}
						</td>
						<td>@product.Color1</td>
						<td>@product.Color2</td>
						<td>@product.Length</td>
						<td>@product.Width</td>
						<td>@product.Height</td>
						<td>@product.Description</td>
						<td>@product.SpecialZoneType</td>
						<td>@product.CreatedAt.ToString("yyyy/MM/dd")</td>
						<td style="white-space: nowrap;">
							<a class="btn btn-primary btn-sm" asp-controller="Products" asp-action="Edit"
							   asp-route-id="@product.ProductID">編輯</a>
							<a class="btn btn-danger btn-sm" asp-controller="Products" asp-action="Delete"
							   asp-route-id="@product.ProductID">刪除</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
