@model List<Project0220.myModels.Order>
@using Project0220.myModels;

    <link rel="stylesheet" href="~/css/Cart/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Cart/css/iconfont.min.css">
    <link rel="stylesheet" href="~/css/Cart/css/helper.css">
    <link rel="stylesheet" href="~/css/Cart/css/plugins.css">
    <link rel="stylesheet" href="~/css/Cart/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <!-- Modernizr JS -->
    <script src="~/js/Cart/js/modernizr-2.8.3.min.js"></script>


@* <div class="page-banner-section section bg-image" data-bg="assets/images/bg/breadcrumb.png">
            <div class="container">
 *@                <div class="row">
                    <div class="col">

                        <div class="page-banner text-left">
                            <h2  style="margin-top:30px;">結帳</h2>
                            <ul class="page-breadcrumb">
                                <li><a href="index.html">首頁</a></li>
                                <li>購物車</li>
                                <li>結帳</li>
                            </ul>
                        </div>

                    </div>
                </div>
@*             </div>
        </div>
 *@        <!-- Page Banner Section End -->
        <!--Checkout section start-->
        <!-- <div class="checkout-section section pt-90 pt-lg-70 pt-md-60 pt-sm-50 pt-xs-40  pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20"> -->

            <div class="container">
            <div class="row">
                 <div class="col-6">
            @foreach (var item in Model)
            {
                            <form method="post" action="@Url.Action("Consignee", "CheckOut")" class="checkout-form">
                                        <!-- Billing Address -->
                                        <div id="billing-form" >
                                            <h4 class="checkout-title" style="margin-top:30px; margin-bottom:80px;">收件資訊</h4>
                                              <input type="hidden" name="orderId" value="@item.OrderId" />
                                               <div >
                                               <label name="customerId" value="@item.CustomerId" />
                                               </div>
                                               <div >
                                              <label   style="font-size:20px;">姓名: @item.Consignee</label>
                                            </div>
                                            <div >
                                                    <label style="font-size:20px; margin-top:20px;" >電話: @item.ContactPhone</label>
                                            </div>
                                           <div >
                                                   <label style="font-size:20px; margin-top:20px;">郵遞區號: @item.PaymentMethod</label>
                                           </div>
                                            <div >
                                                    <label style="font-size:20px; margin-top:20px;">收件地址: @item.ShippingAddress</label>
                                            </div>
                                            <div >
                                                    <label style="font-size:20px; margin-top:20px;">配送貨運: @item.Carrier</label>
                                            </div>
                                            <div >
                                                    <label style="font-size:20px; margin-top:20px;">付款方式: @item.PaymentMethod  </label>
                                            </div>
                                              <div >
                                                       <label style="font-size:20px; margin-top:20px;">寄送日期: @item.ShippingDate</label>
                                             </div>
                                        </div>
                            </form>

                                                <button onclick="showPaymentInfo('@item.PaymentMethod')" class="cart-button02">點擊結帳</button>
                                            <!-- 匯款訊息彈跳 -->
                                             <div id="bankTransferInfo" style="display: none;">
                                                     <div class="checkout-title">匯款帳號 : </div>
                                                             <div class="checkout-form">
                                                                戶名: 居家家居股份有限公</div>
                                                              <div class="checkout-form">帳號: 中國信託 (822) 500012345</div>
                                                     <button onclick="closePopup('bankTransferInfo')" class="cart-button02">關閉</button>
                                             </div>

                                                 <!-- 信用卡訊息彈跳-->
                                             <div id="creditCardForm" style="display: none;">
                                              <br>
                                              <p class="checkout-title">請填寫信用卡資訊 : </p>
                                                 <form>
                                                     <tr>
                                                         <td>
                                                             <label >持卡人姓名</label>
                                                                  <input class="checkout-form" type="text" placeholder="請輸入姓名"></input>
                                                             <br>
                                                              <label >請填寫信用卡卡號</label>
                                                                 <input class="checkout-form" type="text" placeholder="請填寫16碼信用卡號"></input>
                                                                 <br>
                                                                <label >CVV</label>
                                                                     <input class="checkout-form" type="text" placeholder="請填寫信用卡背面末三碼"></input>
                                                                 <br>
                                                                  <label>請填寫有效日期</label>
                                                                       <input  class="checkout-form" type="text" placeholder="月/年"></input>
                                                         </td>
                                                     </tr>
                                                 </form>
                                                 <br>
                                                         <button class="cart-button02" type="button" onclick="confirmPayment()">確認付款</button>
                                             </div>
            }

                   </div>
                   <div class="col-6">
                        <h4 class="checkout-title" style="margin-top:30px;" >訂單確認</h4>

                                            <div class="checkout-cart-total">

                                                <h4>購買產品</h4>

                                                <ul>
                                                    <li><img src="~/images/All_product/A00130.jpg" class="img-checkout">&nbspAVEN三人座沙發 X 01

                                                        <span>$25.00</span></li>
                                                    <li><img src="~/images/All_product/B00070.jpg" class="img-checkout">&nbsp照明書櫃 X 01 <span>$25.00</span></li>
                                                    <li><img src="~/images/All_product/C00060.jpg" class="img-checkout">&nbsp雙人軟墊床框附床頭板 X 01 <span>$25.00</span></li>
                                                </ul>
                                                <p>小計 <span>$75.00</span></p>
                                                <p>折扣<span>$00.00</span></p>
                                                <h4>總額<span>$75.00</span></h4>
                   </div>
                   </div>



                                       <form asp-action="Create">
                                     <button  type="submit"  value="Create" class="cart-button02" style="margin-left:450px;" asp-action="CheckOutDone">確認訂購</button>
            @* 更改類別名稱cart-button02 *@
                                      </form>

        <!--Checkout section end-->


        @* @foreach (var item in Model.Products)
{
                                    <div class="col-lg-5">
                                    <div class="row">
                                <div class="col-12 mb-60 d-flex">
                                    <div class="cart-summary">
                                        <div class="cart-summary-wrap">
                                            <h4>購物車總覽</h4>
                                            <tr>
                                              <td href="@Url.Action("AddToCart", "Cart")" class="btn btn-primary">填写收件信息</td>
                                              <td class="pro-title"><a href="#">@item.ProductName</a></td>
                                            <td class="pro-color"><span>@item.Color1</span></td>
                                            <td class="pro-quantity">
                                              <td class="pro-qty"><input type="number" name="count" value="1"></td>
                                            <td class="pro-subtotal"><span>$@item.UnitPrice</span></td>>
                                                </tr>
                                                        <p  class="product-subtotal">小計 <span>@Model.Products.Sum(p => p.UnitPrice)</span></p>
                                            <p class="product-discound">折扣 <span>$75.00</span></p>
                                            <h2>總額 <span>$75.00</span></h2>
                                        </div>
                                        <div class="cart-summary-button">
                                            @* 改類別名稱cart-button01 *@
        @*  <button class="cart-button01">繼續購物</button>
                                            <button type="submit" value="Create" class="cart-button01">繼續結帳</button>

                                        </div>
                                    </div>
                                </div>
                               </div>
                               </div>
}  *@
<script>

function showPaymentInfo(paymentMethod) {
    if (paymentMethod == "匯款") {
        document.getElementById('bankTransferInfo').style.display = 'block';
    } else if (paymentMethod == "信用卡") {
        document.getElementById('creditCardForm').style.display = 'block';
    }
}

function closePopup(popupId) {
    document.getElementById(popupId).style.display = 'none';
}

function confirmPayment() {
    closePopup('creditCardForm');

Swal.fire({
  position: "center",
  icon: "success",
  title: "已付款成功",
  showConfirmButton: false,
  timer: 1500
});
}

</script>
      <!-- All jquery file included here -->
    <script src="~/js/Cart/js/jquery-1.12.4.min.js"></script>
    <script src="~/js/Cart/js/popper.min.js"></script>
    <script src="~/js/Cart/js/bootstrap.min.js"></script>
    <script src="~/js/Cart/js/plugins.js"></script>
    <script src="~/js/Cart/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


