@model List<Project0220.myModels.CartOrderModel>
@using Project0220.myModels;

    <link rel="stylesheet" href="~/css/Cart/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Cart/css/iconfont.min.css">
    <link rel="stylesheet" href="~/css/Cart/css/helper.css">
    <link rel="stylesheet" href="~/css/Cart/css/plugins.css">
    <link rel="stylesheet" href="~/css/Cart/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <!-- Modernizr JS -->
    <script src="~/js/Cart/js/modernizr-2.8.3.min.js"></script>


@* <div class="page-banner-section section bg-image" data-bg="assets/images/bg/breadcrumb.png">
            <div class="container">
 *@                <div class="row">
                    <div class="col">

                        <div class="page-banner text-left">
                            <h2  style="margin-top:30px;">結帳</h2>
                            <ul class="page-breadcrumb">
                                <li><a href="index.html">首頁</a></li>
                                <li>購物車</li>
                                <li>結帳</li>
                            </ul>
                        </div>

                    </div>
                </div>
@*             </div>
        </div>
 *@        <!-- Page Banner Section End -->
        <!--Checkout section start-->
        <!-- <div class="checkout-section section pt-90 pt-lg-70 pt-md-60 pt-sm-50 pt-xs-40  pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20"> -->

            <div class="container">
            <div class="row">
                 <div class="col-6">
            @foreach (var item in Model)
            {
                            <form method="post" action="@Url.Action("Consignee", "CheckOut")" class="checkout-form">
                                        <!-- Billing Address -->
                                        <div id="billing-form" >
                                            <h4 class="checkout-title" style="margin-top:30px; margin-bottom:80px;">收件資訊</h4>
                                              <input type="hidden" name="orderId" value="@item.Order.OrderId" />
                                               <div >
                                               <label name="customerId" value="@item.Order.CustomerId" />
                                               </div>
                                               <div >
                                              <label   style="font-size:20px; ">收件人: @item.Order.Consignee</label>
                                            </div>
                                            <div >
                                                        <label style="font-size:20px; margin-top:20px;" >聯絡電話: @item.Order.ContactPhone</label>
                                            </div>
                                           <div >
                                                           <label style="font-size:20px; margin-top:20px;">郵遞區號: @item.Order.PostalCode</label>
                                           </div>
                                            <div >
                                                        <label style="font-size:20px; margin-top:20px;">收件地址: @item.Order.ShippingAddress</label>
                                            </div>
                                            <div >
                                                        <label style="font-size:20px; margin-top:20px;">配送貨運: @item.Order.Carrier</label>
                                            </div>
                                            <div >
                                                        <label style="font-size:20px; margin-top:20px;">付款方式: @item.Order.PaymentMethod  </label>
                                            </div>
                                              <div >
                                                           <label style="font-size:20px; margin-top:20px;">寄送日期: @item.Order.ShippingDate</label>
                                             </div>
                                        </div>
                            </form>

                                                    <button onclick="showPaymentInfo('@item.Order.PaymentMethod')" class="cart-button02">點擊結帳</button>
                                            <!-- 匯款訊息彈跳 -->
                                             <div id="bankTransferInfo" style="display: none;">
                                                     <div class="checkout-title">匯款帳號 : </div>
                                                             <div class="checkout-form">
                                                                戶名: 居家家居股份有限公</div>
                                                              <div class="checkout-form">帳號: 中國信託 (822) 500012345</div>
                                                     <button onclick="closePopup('bankTransferInfo')" class="cart-button02">關閉</button>
                                             </div>

                                                 <!-- 信用卡訊息彈跳-->
                                             <div id="creditCardForm" style="display: none;">
                                              <br>
                                              <p class="checkout-title">請填寫信用卡資訊 : </p>
                                                         <div style="border: 1px solid black;">
                                                         <form >
                                                           <div>
                                                                 <label style="font-weight: bold;">持卡人姓名</label><br>
                                                                      <input class="checkout-form" type="text" placeholder="請輸入姓名" required></input>
                                                           </div>
                                                                <div>
                                                                      <label style="margin-top:10px; font-weight: bold;">請填寫信用卡卡號</label><br>
                                                                    <input class="checkout-form" type="text" pattern="\d{16}" placeholder="請填寫16碼信用卡號" required></input>
                                                          </div>
                                                                <div>
                                                                            <label style="margin-top:10px; font-weight: bold;">CVV</label><br>
                                                                      <input class="checkout-form" type="text" pattern="\d{3}" placeholder="請填寫信用卡背面末三碼" required></input>
                                                                </div>
                                                                    <div>
                                                                              <label style="margin-top:10px; font-weight: bold;">請填寫有效日期</label><br>
                                                                      <input  class="checkout-form" type="text" placeholder="月/年，例如：07/28" required></input>
                                                                </div>
                                                             
                                                 </form>
                                                 <br>
                                                        <button class="checkout-form"  type="submit" onclick="confirmPayment()" style=" background-color: #adb7c2; color: white; border-radius: 5px; font-weight: bold;   border: none;  cursor: pointer; padding: 10px; margin-left:40px;">確認付款</button>
                                                 </div>  
                                                 </div>
         
            }

                   </div>
                   <div class="col-6">
                        <h4 class="checkout-title" style="margin-top:30px;" >訂單確認</h4>

                                            <div class="checkout-cart-total">

                                                <h4>購買產品</h4>
                                                 @* <thead>
                                               <tr>
                                                   <th scope="col">產品ID</th>
                                                   <th scope="col">產品圖示</th>
                                                   <th scope="col">產品名稱</th>
                                                   <th scope="col">價格</th>
                                                   <th scope="col">選擇的顏色</th>
                                                   <th scope="col">數量</th>
                                               </tr>
                                           </thead> *@
                                           <tbody>

                                                  @foreach (var cartOrder in Model) // 所有CartOrderModel對象的列表
                                                  {
                                                      @foreach (var item in cartOrder.CartItem) // 然後所有每個對象的CartItems
                                                      {
                                               
                                              <tr>
                                                @*   <td>@item.Product.ProductId</td> *@
                                                  
                                                  <td><img src="~/images/All_product/@item.Product.Image1" alt="" width="70"></td>
                                                  <td>@item.Product.ProductName</td>
                                                  <td>@item.SelectedColor</td>
                                                  <td>X @item.Quantity 個</td>
                                                  <td>$@item.Product.UnitPrice 元</td>
                                              </tr><br><br>
                                                      }
                                                  }
                                           </div>      
                                            </div>
                                        <form method="post" asp-action="SaveCheckOut">
                                            @for (int x = 0; x < Model.Count; x++)
                                            {
                                                 <input type="hidden" name="orderId" value="@Model[x].Order.OrderId" />
                                                for (int y = 0; y < Model[x].CartItem.Count; y++)
                                                {
                                                     <input type="hidden" asp-for="@Model[x].CartItem[y].Product.ProductId" name="CartItems[@y].ProductId" />
                                                     <input type="hidden" asp-for="@Model[x].CartItem[y].Quantity" name="CartItems[@y].Quantity" />
                                                     <input type="hidden" asp-for="@Model[x].CartItem[y].Product.UnitPrice" name="CartItems[@y].UnitPrice" />
                                                     <input type="hidden" asp-for="@Model[x].CartItem[y].SelectedColor" name="CartItems[@y].SelectedColor" />

                                                }
                                            }
                                     
                                    <button type="submit" class="cart-button02">確認訂購</button>
                                </form>

                                       

                                    @* <form asp-action="Create">
                                     <button  type="submit"  value="Create" class="cart-button02" style="margin-left:450px;" asp-action="CheckOutDone">確認訂購</button>
                                      </form> *@

                                                   
                                             @*    <p>小計 <span>$75.00</span></p>
                                                <p>折扣<span>$00.00</span></p>
                                                <h4>總額<span>$75.00</span></h4> *@
                

                                    
        <!--Checkout section end-->

<script>

function showPaymentInfo(paymentMethod) {
    if (paymentMethod == "匯款") {
        document.getElementById('bankTransferInfo').style.display = 'block';
    } else if (paymentMethod == "信用卡") {
        document.getElementById('creditCardForm').style.display = 'block';
    }
}

function closePopup(popupId) {
    document.getElementById(popupId).style.display = 'none';
}

function confirmPayment() {
    closePopup('creditCardForm');

Swal.fire({
  position: "center",
  icon: "success",
  title: "已付款成功",
  showConfirmButton: false,
  timer: 1500
});
}

</script>
      <!-- All jquery file included here -->
    <script src="~/js/Cart/js/jquery-1.12.4.min.js"></script>
    <script src="~/js/Cart/js/popper.min.js"></script>
    <script src="~/js/Cart/js/bootstrap.min.js"></script>
    <script src="~/js/Cart/js/plugins.js"></script>
    <script src="~/js/Cart/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


