@model List<Project0220.myModels.CartOrderModel>
@using Project0220.myModels;

    <link rel="stylesheet" href="~/css/Cart/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Cart/css/iconfont.min.css">
    <link rel="stylesheet" href="~/css/Cart/css/helper.css">
    <link rel="stylesheet" href="~/css/Cart/css/plugins.css">
    <link rel="stylesheet" href="~/css/Cart/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <!-- Modernizr JS -->
    <script src="~/js/Cart/js/modernizr-2.8.3.min.js"></script>


@* <div class="page-banner-section section bg-image" data-bg="assets/images/bg/breadcrumb.png">
            <div class="container">
 *@                <div class="row">
                    <div class="col">

                        <div class="page-banner text-left">
                            <h2  style="margin-top:30px;">結帳</h2>
                            <ul class="page-breadcrumb">
                                <li><a href="index.html">首頁</a></li>
                                <li>購物車</li>
                                <li>結帳</li>
                            </ul>
                        </div>

                    </div>
                </div>
@*             </div>
        </div>
 *@        <!-- Page Banner Section End -->
        <!--Checkout section start-->
        <!-- <div class="checkout-section section pt-90 pt-lg-70 pt-md-60 pt-sm-50 pt-xs-40  pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20"> -->

            <div class="container">
            <div class="row">
                 <div class="col-6">
            @foreach (var item in Model)
            {
                            <form method="post" action="@Url.Action("Consignee", "CheckOut")" class="checkout-form">
                                        <!-- Billing Address -->
                                        <div id="billing-form" >
                                            <h4 class="checkout-title" style="margin-top:30px; margin-bottom:80px;">收件資訊</h4>
                                              <input type="hidden" name="orderId" value="@item.Order.OrderId" />
                                               <div >
                                               <label name="customerId" value="@item.Order.CustomerId" />
                                               </div>
                                               <div >
                                              <label   style="font-size:20px;">收件人: @item.Order.Consignee</label>
                                            </div>
                                            <div >
                                                    <label style="font-size:20px; margin-top:20px;" >聯絡電話: @item.Order.ContactPhone</label>
                                            </div>
                                           <div >
                                                    <label style="font-size:20px; margin-top:20px;">郵遞區號: @item.Order.PostalCode</label>
                                           </div>
                                            <div >
                                                    <label style="font-size:20px; margin-top:20px;">收件地址: @item.Order.ShippingAddress</label>
                                            </div>
                                            <div >
                                                     <label style="font-size:20px; margin-top:20px;">配送貨運: @item.Order.Carrier</label>
                                            </div>
                                            <div >
                                                    <label style="font-size:20px; margin-top:20px;">付款方式: @item.Order.PaymentMethod  </label>
                                            </div>
                                              <div >
                                                      <label style="font-size:20px; margin-top:20px;">寄送日期: @item.Order.ShippingDate</label>
                                             </div>
                                        </div>
                            </form>

                                                                    <button onclick="showPaymentInfo('@item.Order.PaymentMethod')" style=" background-color: #bad9ca; color: white; font-weight: bold;   border: none;  cursor: pointer; padding: 7px  40px; font-size:18px; margin-top:30px;">點擊結帳

                                                    </button>
                                            <!-- 匯款訊息彈跳 -->
                                             <div id="bankTransferInfo" style="display: none;">
                                                     <div class="checkout-title" style="margin-top: 30px;">匯款帳號 : </div>
                                                             <div style="border: 1px solid black; padding: 40px; width: 80%; box-sizing: border-box; ">
                                                              <div class="checkout-form"  style="margin-top:10px; font-weight: bold; font-size:20px; margin-left:18px;">
                                                                戶名: 居家家居股份有限公司</div>
                                                              <div class="checkout-form"  style="margin-top:10px; font-weight: bold; font-size:20px;  margin-left:18px;">帳號: 中國信託 (822) 500012345</div>
                                                             <button onclick="closePopup('bankTransferInfo')" class="cart-button02" style=" background-color: #bad9ca; color: white;  font-weight: bold;   border: none;  cursor: pointer; padding: 7px 80px; margin-left:70px; font-size:18px;">關閉</button>
                                                 </div>
                                                 </div>

                                                 <!-- 信用卡訊息彈跳-->
                                             <div id="creditCardForm" style="display: none;">
                                              <br>
                                              <p class="checkout-title">請填寫信用卡資訊 : </p>
                                                                    <div style="border: 1px solid black; padding: 40px; width: 80%; box-sizing: border-box;">
                                                         <form >
                                                           <div>
                                                                 <label style="font-weight: bold;">持卡人姓名</label><br>
                                                                  <input class="checkout-form" type="text"  style="width: 100%; " placeholder="請輸入姓名" required></input>
                                                           </div>
                                                                <div>
                                                                      <label style="margin-top:10px; font-weight: bold;">請填寫信用卡卡號</label><br>
                                                                       <input class="checkout-form" type="text" name="creditCardNumber" style="width: 100%; " pattern="\d{16}" placeholder="請填寫16碼信用卡號" required></input>
                                                          </div>
                                                                <div>
                                                                         <label style="margin-top:10px; font-weight: bold;">CVV</label><br>
                                                                          <input class="checkout-form" type="text"  name="CVV" style="width: 100%; " pattern="\d{3}" placeholder="請填寫信用卡背面末三碼" required></input>
                                                                </div>
                                                                    <div>
                                                                              <label style="margin-top:10px; font-weight: bold;">請填寫有效日期</label><br>
                                                                              <input  class="checkout-form" type="text"  name="expiryDate" style="width: 100%; " placeholder="月/年，例如：07/28" required></input>
                                                                </div>
                                                             
                                                 </form>
                                                 <br>
                                                     <button class="checkout-form"  type="submit" onclick="confirmPayment()" style=" background-color: #bad9ca; color: white;  font-weight: bold;   border: none;  cursor: pointer; padding: 7px 80px; margin-left:50px; font-size:18px;">確認付款</button>
                                                 </div>  
                                                 </div>
         
            }

                   </div>
                   <div class="col-6">
                        <h4 class="checkout-title" style="margin-top:30px;" >訂單確認</h4>
                          <div class="checkout-cart-total">

                        <h4>購買產品</h4>
                          @foreach (var cartOrder in Model) // 所有CartOrderModel對象的列表
                          {
                                decimal totalOrderAmount = 0; // 初始化每個訂單的總額為0
                                        <table style="width: 100%;  text-align: center; background-color: white; font-weight: bold;">
                                <thead>
                                      <tr style=" background-color: #151515; color:white; height: 40px;">
                                        <th>產品圖示</th>
                                        <th>產品名稱</th>
                                        <th>顏色</th>
                                        <th>數量</th>
                                        <th>價格</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                         <tr style="border-top: 20px solid transparent; ">
                                               <td colspan="5"></td> 
                                           </tr>
                                                @foreach (var item in cartOrder.CartItem) // 然後所有每個對象的CartItems
                                                {
                                                    totalOrderAmount += item.Quantity * item.Product.UnitPrice.GetValueOrDefault();
                                              
                                              <tr>
                                                <td><img src="~/images/All_product/@item.Product.Image1" alt="" width="70"></td>
                                                <td>@item.Product.ProductName</td>
                                                <td>@item.SelectedColor</td>
                                                <td>@item.Quantity</td>
                                                <td>$@item.Product.UnitPrice 元</td>
                                            </tr>
                                                }

                                    <!-- 在表格内添加一个分隔行 -->
                                    <tr>
                                        <td colspan="5"><hr style="height: 0.5px; background-color: black;"></td>
                                    </tr>
                                  
                                    <tr style="text-align: right; font-size:20px;">
                                         <td colspan="4" >購買數量 :</td>
                                            <td style="text-align: center;">@cartOrder.CartItem.Sum(item => item.Quantity)</td>
                                    </tr>
                                     <tr style="height: 20px;">
                                           <td colspan="5"></td>
                                    </tr>
                                    <tr style="text-align: right;  font-size:20px;">
                                       <td colspan="4" >總額 :</td>
                                            <td style="text-align: center;">@totalOrderAmount</td>
                                    </tr>
                                     <tr style="height: 40px;">
                                          <td colspan="5"></td>
                                     </tr>
                                </tbody>
                              </table>
                                      }
                                        <form method="post" asp-action="SaveCheckOut">
                                            @for (int x = 0; x < Model.Count; x++)
                                            {
                                                 <input type="hidden" name="orderId" value="@Model[x].Order.OrderId" />
                                                for (int y = 0; y < Model[x].CartItem.Count; y++)
                                                {
                                                     <input type="hidden" asp-for="@Model[x].CartItem[y].Product.ProductId" name="CartItems[@y].ProductId" />
                                                     <input type="hidden" asp-for="@Model[x].CartItem[y].Quantity" name="CartItems[@y].Quantity" />
                                                     <input type="hidden" asp-for="@Model[x].CartItem[y].Product.UnitPrice" name="CartItems[@y].UnitPrice" />
                                                     <input type="hidden" asp-for="@Model[x].CartItem[y].SelectedColor" name="CartItems[@y].SelectedColor" />

                                                }
                                            }
                                     
                                  <button style="display: block; width: 400px; margin-top:100px; font-weight: bold;" type="submit" class="cart-button02">確認訂購</button>
                                </form>

                                       

                                    @* <form asp-action="Create">
                                     <button  type="submit"  value="Create" class="cart-button02" style="margin-left:450px;" asp-action="CheckOutDone">確認訂購</button>
                                      </form> *@

                                                   
                                             @*    <p>小計 <span>$75.00</span></p>
                                                <p>折扣<span>$00.00</span></p>
                                                <h4>總額<span>$75.00</span></h4> *@
                                              
                

                                    
        <!--Checkout section end-->

<script>

@* function showPaymentInfo(paymentMethod) {
    if (paymentMethod == "匯款") {
        document.getElementById('bankTransferInfo').style.display = 'block';
    } else if (paymentMethod == "信用卡") {
        document.getElementById('creditCardForm').style.display = 'block';
    }
}

function closePopup(popupId) {
    document.getElementById(popupId).style.display = 'none';
}

function confirmPayment() {
    closePopup('creditCardForm');

Swal.fire({
  position: "center",
  icon: "success",
  title: "已付款成功",
  showConfirmButton: false,
  timer: 1500
});
} *@

function showPaymentInfo(paymentMethod) {
    if (paymentMethod == "匯款") {
        document.getElementById('bankTransferInfo').style.display = 'block';
    } else if (paymentMethod == "信用卡") {
        document.getElementById('creditCardForm').style.display = 'block';
    }
}

function closePopup(popupId) {
    document.getElementById(popupId).style.display = 'none';
}

function confirmPayment() {
    var form = document.getElementById('creditCardForm');
    var allFilled = true;  @* 默認所有欄位已填 *@
    var isValid = true;  @* 新增變量以檢查數據有效性 *@

    if (form.style.display === 'block') {
        form.querySelectorAll('input[required]').forEach(function(input) {
            if (!input.value.trim()) {
                allFilled = false;  @* 若有未填，則設置為未全部填寫 *@
            }

             @* 特定欄位的額外驗證 *@
            if (input.name === "creditCardNumber" && !/^\d{16}$/.test(input.value.trim())) {
                isValid = false; 
                Swal.fire('信用卡號碼必須是16位數字。');
            }

            if (input.name === "CVV" && !/^\d{3,4}$/.test(input.value.trim())) {
                isValid = false; 
                Swal.fire('CVV必須是3或4位數字。');
            }

            if (input.name === "expiryDate" && !/^(0[1-9]|1[0-2])\/(\d{2}|\d{4})$/.test(input.value.trim())) {
                isValid = false; 
                Swal.fire('有效日期格式不正確，正確格式為：月/年，例如：07/28。');
            }

        });

        if (!allFilled) {
            @* 若有未填寫的欄位，顯示警告 *@
            Swal.fire({
                icon: 'error',
                title: '哎呀...',
                text: '請填寫所有必填信用卡資訊。',
            });
            return; 
        }
    }

     @* 所有必填項都已填或當前不是信用卡支付方式，關閉彈窗並顯示成功提示 *@
    closePopup('creditCardForm');
    Swal.fire({
        position: 'center',
        icon: 'success',
        title: '已付款成功',
        showConfirmButton: false,
        timer: 1500
    });
}
      

</script>
      <!-- All jquery file included here -->
    <script src="~/js/Cart/js/jquery-1.12.4.min.js"></script>
    <script src="~/js/Cart/js/popper.min.js"></script>
    <script src="~/js/Cart/js/bootstrap.min.js"></script>
    <script src="~/js/Cart/js/plugins.js"></script>
    <script src="~/js/Cart/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


