@model List<Project0220.myModels.CartOrderModel>
@using Project0220.myModels;

    @* <link rel="stylesheet" href="~/css/Cart/css/bootstrap.min.css"> *@
    <link rel="stylesheet" href="~/css/Cart/css/iconfont.min.css">
    <link rel="stylesheet" href="~/css/Cart/css/helper.css">
    <link rel="stylesheet" href="~/css/Cart/css/plugins.css">
    <link rel="stylesheet" href="~/css/Cart/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <!-- Modernizr JS -->
    <script src="~/js/Cart/js/modernizr-2.8.3.min.js"></script>

<style>

    * { 
    margin: 0; 
    padding: 0
} 

html { 
    height: 100%
} 

h2{ 
    color: black; 
} 
#form { 
    text-align: center; 
    position: relative; 
    margin-top: 20px
} 

#form fieldset { 
    background: white; 
    border: 0 none; 
    border-radius: 0.5rem; 
    box-sizing: border-box; 
    width: 100%; 
    margin: 0; 
    padding-bottom: 20px; 
    position: relative
} 

.finish { 
    text-align: center
} 

#form fieldset:not(:first-of-type) { 
    display: none
} 

#form .previous-step, .next-step { 
    width: 100px; 
    font-weight: bold; 
    color: white; 
    border: 0 none; 
    border-radius: 0px; 
    cursor: pointer; 
    padding: 10px 5px; 
    margin: 10px 5px 10px 0px; 
    float: right
} 

.form, .previous-step { 
    background: #616161; 
} 

.form, .next-step { 
    background: #2F8D46; 
} 

#form .previous-step:hover, 
#form .previous-step:focus { 
    background-color: #000000
} 

#form .next-step:hover, 
#form .next-step:focus { 
    background-color: #2F8D46
} 

.text { 
    color: #9bacc1;
    font-weight: normal
} 

#progressbar { 
    margin-bottom: 30px; 
    overflow: hidden; 
    color: lightgrey 
} 

#progressbar .active { 
    color: #9bacc1;
} 

#progressbar li { 
    list-style-type: none; 
    font-size: 15px; 
    width: 25%; 
    float: left; 
    position: relative; 
    font-weight: 400
} 

#progressbar #step1:before { 
    content: "1"
} 

#progressbar #step2:before { 
    content: "2"
} 

#progressbar #step3:before { 
    content: "3"
} 

#progressbar #step4:before { 
    content: "4"
} 

#progressbar li:before { 
    width: 50px; 
    height: 50px; 
    line-height: 45px; 
    display: block; 
    font-size: 20px; 
    color: #ffffff; 
    background: lightgray; 
    border-radius: 50%; 
    margin: 0 auto 10px auto; 
    padding: 2px
} 

#progressbar li:after { 
    content: ''; 
    width: 100%; 
    height: 2px; 
    background: lightgray; 
    position: absolute; 
    left: 0; 
    top: 25px; 
    z-index: -1
} 

#progressbar li.active:before, 
#progressbar li.active:after { 
    background: #9bacc1;
} 

.progress { 
    height: 20px;
     width: 100%;
} 

.progress-bar { 
    background-color: #9bacc1;
    width:100%;
}

</style>

<body> 
    <div class="container"> 
        <div class="row justify-content-center"> 
            <div class="col-12"> 
                <div class="px-0 pt-4 pb-0 mt-3 mb-3"> 
                    <form id="form"> 
                        <ul id="progressbar"> 
                             <li class="active" id="step1"> 
                                <strong style="font-size:18px;">購物車</strong> 
                            </li> 
                            <li  class="active" id="step2"><strong  style="font-size:18px;">收件資訊</strong></li> 
                            <li class="active" id="step3"><strong  style="font-size:18px;">確認結帳</strong></li> 
                            <li id="step4"><strong  style="font-size:18px;">完成訂單</strong></li> 
                        </ul> 

                    </form> 
                </div> 
            </div> 
        </div> 
    </div> 
</body> 
<script src="script.js"></script> 

</html> 
@*             </div>
        </div>
 *@        <!-- Page Banner Section End -->
        <!--Checkout section start-->
        <!-- <div class="checkout-section section pt-90 pt-lg-70 pt-md-60 pt-sm-50 pt-xs-40  pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20"> -->

            <div class="container">
            <div class="row">
                 <div class="col-6">
            @foreach (var item in Model)
            {
                            <form method="post" action="@Url.Action("Consignee", "CheckOut")" class="checkout-form">
                                        <!-- Billing Address -->
                                        <div id="billing-form" >
                                            <h4 class="checkout-title" style="margin-top:30px; margin-bottom:80px;">收件資訊</h4>
                                              <input type="hidden" name="orderId" value="@item.Order.OrderId" />
                                               <div >
                                               <label name="customerId" value="@item.Order.CustomerId" />
                                               </div>
                                               <div >
                                              <label   style="font-size:20px;">收件人: @item.Order.Consignee</label>
                                            </div>
                                            <div >
                                                    <label style="font-size:20px; margin-top:20px;" >聯絡電話: @item.Order.ContactPhone</label>
                                            </div>
                                           <div >
                                                    <label style="font-size:20px; margin-top:20px;">郵遞區號: @item.Order.PostalCode</label>
                                           </div>
                                            <div >
                                                    <label style="font-size:20px; margin-top:20px;">收件地址: @item.Order.ShippingAddress</label>
                                            </div>
                                            <div >
                                                     <label style="font-size:20px; margin-top:20px;">配送貨運: @item.Order.Carrier</label>
                                            </div>
                                            <div >
                                                    <label style="font-size:20px; margin-top:20px;">付款方式: @item.Order.PaymentMethod </label>
                                            </div>
                                              <div >
                                                      <label style="font-size:20px; margin-top:20px;">寄送日期: @item.Order.ShippingDate</label>
                                             </div>
                                        </div>
                            </form>

                                                                    <button onclick="showPaymentInfo('@item.Order.PaymentMethod')" style=" background-color: #b0afaf; color: white; font-weight: bold;   border: none;  cursor: pointer; padding: 7px  40px; font-size:18px; margin-top:30px;">點擊結帳

                                                    </button>

                                                           <div style="color:#ef869a; font-size:20px; margin-top:20px; font-weight: bold;" id="paymentStatus"></div>
                                            <!-- 匯款訊息彈跳 -->
                                             <div id="bankTransferInfo" style="display: none;">
                                                     <div class="checkout-title" style="margin-top: 30px;">匯款帳號 : </div>
                                                             <div style="border: 1px solid black; padding: 40px; width: 80%; box-sizing: border-box; ">
                                                              <div class="checkout-form"  style="margin-top:10px; font-weight: bold; font-size:20px; margin-left:18px;">
                                                                戶名: 居家家居股份有限公司</div>
                                                              <div class="checkout-form"  style="margin-top:10px; font-weight: bold; font-size:20px;  margin-left:18px;">帳號: 中國信託 (822) 500012345</div>
                                                                 <button onclick="closePopup('bankTransferInfo')" class="cart-button02" style=" background-color: #b0afaf; color: white;  font-weight: bold;   border: none;  cursor: pointer; padding: 7px 80px; margin-left:70px; font-size:18px;">關閉</button>
                                                 </div>
                                                 </div>

                                                 <!-- 信用卡訊息彈跳-->
                                             <div id="creditCardForm" style="display: none;">
                                              <br>
                                              <p class="checkout-title">請填寫信用卡資訊 : </p>
                                                                    <div style="border: 1px solid black; padding: 40px; width: 80%; box-sizing: border-box;">
                                                         <form >
                                                           <div>
                                                                 <label style="font-weight: bold;">持卡人姓名</label><br>
                                                                   <input class="checkout-form" type="text" name="fullName" style="width: 100%; " placeholder="請輸入姓名" required></input>
                                                           </div>
                                                                <div>
                                                                      <label style="margin-top:10px; font-weight: bold;">請填寫信用卡卡號</label><br>
                                                                       <input class="checkout-form" type="text" name="creditCardNumber" style="width: 100%; " pattern="\d{16}" placeholder="請填寫16碼信用卡號" required></input>
                                                          </div>
                                                                <div>
                                                                         <label style="margin-top:10px; font-weight: bold;">CVV</label><br>
                                                                          <input class="checkout-form" type="text"  name="CVV" style="width: 100%; " pattern="\d{3}" placeholder="請填寫信用卡背面末三碼" required></input>
                                                                </div>
                                                                    <div>
                                                                              <label style="margin-top:10px; font-weight: bold;">請填寫有效日期</label><br>
                                                                              <input  class="checkout-form" type="text"  name="expiryDate" style="width: 100%; " placeholder="月/年，例如：07/28" required></input>
                                                                </div>
                                                             
                                                 </form>
                                                 <br>
                                                           <button  class="checkout-form"  type="submit" onclick="confirmPayment() " style=" background-color: #b0afaf; color: white;  font-weight: bold;   border: none;  cursor: pointer; padding: 7px 80px; margin-left:40px; font-size:18px;"><i class="fa-regular fa-credit-card">&nbsp;</i>確認付款</button>
                                                 </div>  
                                                 </div>
         
            }

            

                   </div>
                   <div class="col-6">
                        <h4 class="checkout-title" style="margin-top:30px;" >訂單確認</h4>
                          <div class="checkout-cart-total">

                        <h4>購買產品</h4>
                          @foreach (var cartOrder in Model) // 所有CartOrderModel對象的列表
                          {
                                decimal totalOrderAmount = 0; // 初始化每個訂單的總額為0
                                        <table style="width: 100%;  text-align: center; background-color: white; font-weight: bold;">
                                <thead>
                                      <tr style=" background-color: #151515; color:white; height: 40px;">
                                        <th>產品圖示</th>
                                        <th>產品名稱</th>
                                        <th>顏色</th>
                                        <th>數量</th>
                                        <th>價格</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                         <tr style="border-top: 20px solid transparent; ">
                                               <td colspan="5"></td> 
                                           </tr>
                                                @foreach (var item in cartOrder.CartItem) // 然後所有每個對象的CartItems
                                                {
                                                    totalOrderAmount += item.Quantity * item.Product.UnitPrice.GetValueOrDefault();
                                              
                                              <tr>
                                                <td><img src="~/images/All_product/@item.Product.Image1" alt="" width="70"></td>
                                                <td>@item.Product.ProductName</td>
                                                <td>@item.SelectedColor</td>
                                                <td>@item.Quantity</td>
                                                <td>$@item.Product.UnitPrice 元</td>
                                            </tr>
                                                }

                                    <!-- 在表格内添加一个分隔行 -->
                                    <tr>
                                        <td colspan="5"><hr style="height: 0.5px; background-color: black;"></td>
                                    </tr>
                                  
                                    <tr style="text-align: right; font-size:20px;">
                                         <td colspan="4" >購買數量 :</td>
                                            <td style="text-align: center;">@cartOrder.CartItem.Sum(item => item.Quantity)</td>
                                    </tr>
                                     <tr style="height: 20px;">
                                           <td colspan="5"></td>
                                    </tr>
                                    <tr style="text-align: right;  font-size:20px;">
                                       <td colspan="4" >總額 :</td>
                                            <td style="text-align: center;">$@totalOrderAmount 元</td>
                                    </tr>
                                     <tr style="height: 40px;">
                                          <td colspan="5"></td>
                                     </tr>
                                </tbody>
                              </table>
                                      }
                                        <form method="post" asp-action="SaveCheckOut">

                                            @for (int x = 0; x < Model.Count; x++)
                                            {
                                                 <input type="hidden" name="orderId" value="@Model[x].Order.OrderId" />
                                                for (int y = 0; y < Model[x].CartItem.Count; y++)
                                                {
                                                     <input type="hidden" asp-for="@Model[x].CartItem[y].Product.ProductId" name="CartItems[@y].ProductId" />
                                                     <input type="hidden" asp-for="@Model[x].CartItem[y].Quantity" name="CartItems[@y].Quantity" />
                                                     <input type="hidden" asp-for="@Model[x].CartItem[y].Product.UnitPrice" name="CartItems[@y].UnitPrice" />
                                                     <input type="hidden" asp-for="@Model[x].CartItem[y].SelectedColor" name="CartItems[@y].SelectedColor" />

                                                }
                                            }
                                     
                                    
                                  <button  id="confirmOrderButton" style="display: none;  width: 400px; margin-top:100px; font-weight: bold;" type="submit" class="cart-button02"><i class="fa-solid fa-bag-shopping">&nbsp;</i>確認訂購</button>
                                </form>

                                       

                                    @* <form asp-action="Create">
                                     <button  type="submit"  value="Create" class="cart-button02" style="margin-left:450px;" asp-action="CheckOutDone">確認訂購</button>
                                      </form> *@

                                                   
                                             @*    <p>小計 <span>$75.00</span></p>
                                                <p>折扣<span>$00.00</span></p>
                                                <h4>總額<span>$75.00</span></h4> *@
                                              
                

                                    
        <!--Checkout section end-->

<script>
var currentPaymentMethod = "";

function showPaymentInfo(paymentMethod) {
    currentPaymentMethod = paymentMethod;
    if (paymentMethod == "轉帳") {
        document.getElementById('bankTransferInfo').style.display = 'block';
    } else if (paymentMethod == "信用卡") {
        document.getElementById('creditCardForm').style.display = 'block';
    }
}

function closePopup(popupId) {
    document.getElementById(popupId).style.display = 'none';
    if (currentPaymentMethod == "轉帳") {
        @* 顯示提示並顯示確認訂購 *@
        Swal.fire({
            position: 'center',
            icon: 'info',
            title: '24小時內確認對帳完成，並於2天後寄出',
            showConfirmButton: false,
            timer: 3000
        }).then(() => {
          
            document.getElementById('paymentStatus').innerHTML = '24小時內確認對帳無誤後，於對帳日期2天後寄出<br>要繼續購買，請點擊右側「確認訂購」';
            document.getElementById('confirmOrderButton').style.display = 'block';
        });
    }
}

function confirmPayment() {
    var form = document.getElementById('creditCardForm');
    var inputs = form.querySelectorAll('input[required]');
    var isValid = true;

    for (let input of inputs) {
        let value = input.value.trim();
        let name = input.name;

        if (name === "fullName" && !value) {
            isValid = false;
            Swal.fire({
                icon: 'error',
                title: '驗證失敗',
                text: '請填寫姓名。',
            });
            return;
        } else if (name === "creditCardNumber" && !/^\d{16}$/.test(value)) {
            isValid = false;
            Swal.fire({
                icon: 'error',
                title: '驗證失敗',
                text: '信用卡號碼必須是16位數字。',
            });
            return;
        } else if (name === "CVV" && !/^\d{3,4}$/.test(value)) {
            isValid = false;
            Swal.fire({
                icon: 'error',
                title: '驗證失敗',
                text: 'CVV必須是3或4位數字。',
            });
            return;
        } else if (name === "expiryDate" && !/^(0[1-9]|1[0-2])\/(\d{2}|\d{4})$/.test(value)) {
            isValid = false;
            Swal.fire({
                icon: 'error',
                title: '驗證失敗',
                text: '有效日期格式不正確，正確格式為：月/年，例如：07/28。',
            });
            return;
        }
    }

     if (isValid) {
        @* 先關閉信用卡資訊的彈出窗口 *@
        document.getElementById('creditCardForm').style.display = 'none';
  
        Swal.fire({
            position: 'center',
            icon: 'success',
            title: '已付款成功',
            showConfirmButton: false,
            timer: 1500
        }).then(() => {
            document.getElementById('paymentStatus').innerText = '已付款完成，請點擊右側「確認訂購」';
            document.getElementById('confirmOrderButton').style.display = 'block';
        });
    }
}
</script>

  
      <!-- All jquery file included here -->
    <script src="~/js/Cart/js/jquery-1.12.4.min.js"></script>
    <script src="~/js/Cart/js/popper.min.js"></script>
    <script src="~/js/Cart/js/bootstrap.min.js"></script>
    <script src="~/js/Cart/js/plugins.js"></script>
    <script src="~/js/Cart/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


