@model Project0220.myModels.Order
@using Project0220.myModels


    <!-- All css files are included here. -->
    @* <link rel="stylesheet" href="~/css/Cart/css/bootstrap.min.css"> *@
    <link rel="stylesheet" href="~/css/Cart/css/iconfont.min.css">
    <link rel="stylesheet" href="~/css/Cart/css/helper.css">
    <link rel="stylesheet" href="~/css/Cart/css/plugins.css">
    <link rel="stylesheet" href="~/css/Cart/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <!-- Modernizr JS -->
    <script src="~/js/Cart/js/modernizr-2.8.3.min.js"></script>

 
<style>

    * { 
    margin: 0; 
    padding: 0
} 

html { 
    height: 100%
} 

h2{ 
    color: black; 
} 
#form { 
    text-align: center; 
    position: relative; 
    margin-top: 20px
} 

#form fieldset { 
    background: white; 
    border: 0 none; 
    border-radius: 0.5rem; 
    box-sizing: border-box; 
    width: 100%; 
    margin: 0; 
    padding-bottom: 20px; 
    position: relative
} 

.finish { 
    text-align: center
} 

#form fieldset:not(:first-of-type) { 
    display: none
} 

#form .previous-step, .next-step { 
    width: 100px; 
    font-weight: bold; 
    color: white; 
    border: 0 none; 
    border-radius: 0px; 
    cursor: pointer; 
    padding: 10px 5px; 
    margin: 10px 5px 10px 0px; 
    float: right
} 

.form, .previous-step { 
    background: #616161; 
} 

.form, .next-step { 
    background: #2F8D46; 
} 

#form .previous-step:hover, 
#form .previous-step:focus { 
    background-color: #000000
} 

#form .next-step:hover, 
#form .next-step:focus { 
    background-color: #2F8D46
} 

.text { 
    color: #9bacc1;
    font-weight: normal
} 

#progressbar { 
    margin-bottom: 30px; 
    overflow: hidden; 
    color: lightgrey 
} 

#progressbar .active { 
    color: #9bacc1;
} 

#progressbar li { 
    list-style-type: none; 
    font-size: 15px; 
    width: 25%; 
    float: left; 
    position: relative; 
    font-weight: 400
} 

#progressbar #step1:before { 
    content: "1"
} 

#progressbar #step2:before { 
    content: "2"
} 

#progressbar #step3:before { 
    content: "3"
} 

#progressbar #step4:before { 
    content: "4"
} 

#progressbar li:before { 
    width: 50px; 
    height: 50px; 
    line-height: 45px; 
    display: block; 
    font-size: 20px; 
    color: #ffffff; 
    background: lightgray; 
    border-radius: 50%; 
    margin: 0 auto 10px auto; 
    padding: 2px
} 

#progressbar li:after { 
    content: ''; 
    width: 100%; 
    height: 2px; 
    background: lightgray; 
    position: absolute; 
    left: 0; 
    top: 25px; 
    z-index: -1
} 

#progressbar li.active:before, 
#progressbar li.active:after { 
    background: #9bacc1;
} 

.progress { 
    height: 20px;
     width: 100%;
} 

.progress-bar { 
    background-color: #9bacc1;
    width:100%;
}

</style>

<body> 
    <div class="container"> 
        <div class="row justify-content-center"> 
            <div class="col-12"> 
                <div class="px-0 pt-4 pb-0 mt-3 mb-3"> 
                    <form id="form"> 
                        <ul id="progressbar"> 
                             <li class="active" id="step1"> 
                                <strong style="font-size:18px;">購物車</strong> 
                            </li> 
                            <li class="active" id="step2"><strong  style="font-size:18px;">收件資訊</strong></li> 
                            <li id="step3"><strong  style="font-size:18px;">確認結帳</strong></li> 
                            <li id="step4"><strong  style="font-size:18px;">完成訂單</strong></li> 
                        </ul> 
                        
                    </form> 
                </div> 
            </div> 
        </div> 
    </div> 
</body> 
<script src="script.js"></script> 

</html> 


 
    <div id="main-wrapper">
            <div class="container-01">
                <div class="row">
                    <div class="col-12">
                             <div class="checkoutdone">
                                    <!-- Billing Address -->

                                    <div id="billing-form" class="mb-10">
                                         <form asp-action="Create">
                                         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="row">
                                            <div class="col-12">
                                    @{
                                        var cookie = Convert.ToInt32( Context.Request.Cookies.ContainsKey("membercookie"));
                                    }
                                    
                                    @* @{
                                        // 讀取 cookie 的值
                                      var customerId = Convert.ToInt32(Context.Request.Cookies["membercookie"]);
                                        if (Context.Request.Cookies.ContainsKey("membercookie"))
                                        {
                                            customerId = Convert.ToInt32(Context.Request.Cookies["membercookie"]);
                                        }
                                    } *@
                                                    <div class="form-check mb-3">
                                                      <input class="form-check-input" type="checkbox" id="autoFillMemberInfo">
                                                      <label class="form-check-label" for="autoFillMemberInfo" style="color:#ef869a;">
                                                        同會員資料(姓名、電話、地址)
                                                      </label>
                                                    </div>
                                   
                                                 <label  asp-for="CustomerId" class="control-label" >您的會員編號</label>
                                                 <input asp-for="CustomerId"  class="form-control" type="text" value="@ViewData["CustomerId"]" readonly/>
                                                <span asp-validation-for="CustomerId" class="text-danger"></span>

                                                
                                                <label asp-for="Consignee" class="control-label">收件人*</label>
                                                 <input asp-for="Consignee" id="Consignee" class="form-control" type="text" placeholder="請輸入收件人姓名或公司名稱" required/>
                                                <span asp-validation-for="Consignee" class="text-danger"></span>

                                            </div>

                                            <div class="col-12 mb-20" style="margin-top:19px; margin-button:19px;">
                                                 <label asp-for="ContactPhone" class="control-label">聯絡電話*</label>
                                                 <input asp-for="ContactPhone" id="ContactPhone" class="form-control" type="text" placeholder="請輸入電話" required/>
                                                 <span asp-validation-for="ContactPhone" class="text-danger"></span>

                                            </div>

                                             <div class="col-12 mb-20">
                                                  <p>付款資訊*</p>
                                                  <select asp-for="PaymentMethod" class="control-label nice-select" id="paymentMethod"  required>
                                                      <option >請選擇使用付款方式</option>
                                                      <option asp-for="PaymentMethod" class="form-control" value="轉帳">轉帳</option>
                                                      <option asp-for="PaymentMethod" class="form-control" value="信用卡">信用卡</option>
                                                  </select>
                                              </div>

                                               <div class="col-12 mb-20">
                                                <p>配送資訊*</p>
                                                <select asp-for="Carrier"  class="control-label nice-select"  id="paymentMethod" required>
                                                    <option >請選擇配送貨運公司</option>
                                                    <option asp-for="Carrier" class="form-control">本公司配送</option>
                                                    <option asp-for="Carrier" class="form-control">新竹貨運</option>
                                                    <option asp-for="Carrier" class="form-control">大榮貨運</option>
                                                </select>
                                            </div>

                                            <div class="col-12 mb-20">
                                                <label asp-for="PostalCode" class="control-label">郵遞區號*</label>
                                                <input asp-for="PostalCode" class="form-control" type="text" placeholder="請輸入郵遞區號" required/>
                                                <span asp-validation-for="PostalCode" class="text-danger"></span>
                                            </div>

                                            <div class="col-12 mb-20">
                                                <label asp-for="ShippingAddress" class="control-label">收件地址*</label>
                                                <input asp-for="ShippingAddress" id="ShippingAddress" class="form-control" type="text" placeholder="請輸入收件地址" required/>
                                                <span asp-validation-for="ShippingAddress" class="text-danger"></span>
                                            </div>

                                             <div class="col-12 mb-20">
                                                <label asp-for="ShippingDate" class="control-label">寄送日期</label>
                                                <input asp-for="ShippingDate" class="form-control" placeholder="請選擇日期" min="@DateTime.Now.AddDays(2).ToString("yyyy-MM-dd")" required/>
                                                <span asp-validation-for="ShippingDate" class="text-danger"></span>
                                            </div>

                                             <div class="col-12 mb-20">
                                                <label asp-for="OrderDate" class="control-label">購買日期*</label>
                                                <input asp-for="OrderDate" class="form-control" readonly />
                                                 <span asp-validation-for="OrderDate" class="text-danger"></span>
                                            </div>

                                           @*  預設為已取消訂單，因為總額是0，如果客戶有提交到最後，訂單會變成已付款 *@
                                          <input asp-for="Status" type="hidden" class="form-control" value="已取消訂單" />

                                             <div class="cart-summary-button">
                                    @* 改類別名稱cart-button01 *@

                                        <button type="submit" value="Create" class="cart-button01" style="margin-left:150px; font-weight: bold" asp-controller="CheckOut" asp-action="Create"> <i class="fa-solid fa-user-check"></i>繼續結帳</button>

                                    </div> 
                                         </form>  

                        @* <div class="col-12 mb-20">
                                                <label  class="control-label">優惠券 </label>
                                                <input class="form-control" type="text"  style ="width: 150px;" placeholder="請輸入優惠碼">
                                            </div>
                                            <div>
                                                <button class=" cart-button0101" style="">確認</button>
                                            </div> *@

                                        </div>
                                    </div>
                                </div>
  <!-- All jquery file included here -->

  <script>
  var memberInfo = {
    name: '@Html.Raw(Model.Customer.CustomerName)',
    // 使用Html.Raw避免Razor二次編碼
    phone: '@Model.Customer.MobilePhoneNumber',
    // 合併地址部分
    address: '@Html.Raw(Model.Customer.AddressCity  + Model.Customer.AddressDist  + Model.Customer.Address)'
  };

  document.addEventListener("DOMContentLoaded", function() {
    var checkbox = document.getElementById('autoFillMemberInfo');
    checkbox.addEventListener('change', function() {
      if (this.checked) {
        // 已經有變量 memberInfo 包含了會員的姓名、電話和地址
        document.getElementById('Consignee').value = memberInfo.name; // 會員姓名
        document.getElementById('ContactPhone').value = memberInfo.phone; // 會員电话
        document.getElementById('ShippingAddress').value = memberInfo.address; // 合併顯示的地址
      } else {
        // 清空表單域
        document.getElementById('Consignee').value = '';
        document.getElementById('ContactPhone').value = '';
        document.getElementById('ShippingAddress').value = ''; // 清空地址
      }
    });
  });
</script>



    <script src="~/js/Cart/js/jquery-1.12.4.min.js"></script>
    <script src="~/js/Cart/js/popper.min.js"></script>
    <script src="~/js/Cart/js/bootstrap.min.js"></script>
    <script src="~/js/Cart/js/plugins.js"></script>
    <script src="~/js/Cart/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
