@using Microsoft.CodeAnalysis
@using Project0220.myModels
@model IEnumerable<Project0220.myModels.Product>
@{
    // int[] ProductList = new int[Model.Count()];
    // foreach(var item in Model)
    // {
    //     ProductList.Append(item.ProductId);
    // }
}


<div class="container">
    <div class="row">
        <!-- 第一個區域由左到右1個版面 -->
        <div class="col-md-12">
        </div>
    </div>
    <br></br>
</div>
<div>
    <p class="area">首頁/寢具、床架</p>
</div>
<div class="shop-area">
    <div class="row">
        <div class="col-12">
            <!-- Grid & List View Start -->
            <div class="shop-topbar-wrapper d-flex justify-content-between align-items-center">
                <div class="grid-list-option d-flex">
                    <ul class="nav">
                        <li>
                            <a data-toggle="tab" href="#grid"><i class="fa fa-th"></i></a>
                        </li>
                        <li>
                            <a class="active show" data-toggle="tab" href="#list" class=""><i class="fa fa-th-list"></i></a>
                        </li>
                    </ul>
                    <p>顯示 1–9 項產品</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 order-lg-1 order-2">
                <!-- Single Sidebar Start  -->
                <div class="common-sidebar-widget">
                    <h3 class="sidebar-title">Product categories</h3>
                    <ul class="sidebar-list">
                        <li><a asp-controller="Home" asp-action="Sofa"><i class="fa fa-plus"></i>沙發、桌、椅 <span class="count">(44)</span></a></li>
                        <li><a asp-controller="Home" asp-action="Cabinet"><i class="fa fa-plus"></i>床櫃、五斗櫃、電視櫃、鞋櫃 <span class="count">(37)</span></a></li>
                        <li><a asp-controller="Home" asp-action="Bedding"><i class="fa fa-plus"></i>寢具、床架 <span class="count">(46)</span></a></li>
                        <li><a href="#"><i class="fa fa-plus"></i>家飾、燈、地墊、香氛 <span class="count">(115)</span></a></li>
                        <li><a href="#"><i class="fa fa-plus"></i>衛浴、浴盆 <span class="count">(31)</span></a></li>
                        <li><a asp-controller="AllItems" asp-action="New"><i class="fa fa-plus"></i>新品專區 <span class="count">(13)</span></a></li>
                        <li><a asp-controller="AllItems" asp-action="Clearance"><i class="fa fa-plus"></i>出清商品 <span class="count">(9)</span></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle">
                                <i class="fa fa-plus"></i> 一鍵式專區 <span class="count">(32)</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Home" asp-action="NewHome">新房布置</a></li>
                                <li><a asp-controller="Home" asp-action="Family">小家庭布置</a></li>
                                <li><a asp-controller="Home" asp-action="Bedroom">寢飾配置</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Single Sidebar End  -->
            </div>
            <div class="col-lg-9 order-lg-2 order-1">
                <div class="row">
                    <div class="col-12">
                        <div class="shop-product">
                            <div id="myTabContent-2" class="tab-content">
                                <div id="grid" class="tab-pane fade">
                                    <div class="product-grid-view">
                                        <div class="row">
                                            @foreach (var item in Model)
                                            {
                                                <div class="col-lg-4 col-md-6 col-sm-6">
                                                    <!--  Single Grid product Start -->
                                                    <div class="single-grid-product mb-40">
                                                        <div class="product-image">
                                                            <div class="product-label">
                                                                @* <span>-20%</span> *@
                                                            </div>
                                                            <a asp-controller="AllItems" asp-action="ItemDetails" asp-route-bee="@item.ProductId">
                                                                <img src="~/images/All_product/@Html.DisplayFor(modelItem => item.Image1)" class="img-fluid" alt="">
                                                                <img src="~/images/All_product/@Html.DisplayFor(modelItem => item.Image2)" class="img-fluid" alt="">
                                                            </a>
                                                            <div class="product-action">
                                                                <ul>
                                                                    <li><a href="cart.html"><i class="fa fa-cart-plus"></i></a></li>
                                                                    <li><a href="#quick-view-modal-container-@item.ProductId" data-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                                    <li><a href="javascript:;"><i class="fa fa-heart-o"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="product-content">
                                                            <h3 class="title"> <a href="single-product.html">@Html.DisplayFor(modelItem => item.ProductName)</a></h3>
                                                            <p class="product-price"><span class="discounted-price">$@Html.DisplayFor(modelItem => item.UnitPrice)</span> <span class="main-price discounted"></span></p>
                                                        </div>
                                                    </div>
                                                    <!--  Single Grid product End -->
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div id="list" class="tab-pane fade active show">
                                    <div class="product-list-view">
                                        <!-- Single List Product Start -->
                                        <div class="product-list-item mb-40">
                                            <div class="row">
                                                @foreach (var item in Model)
                                                {
                                                    <div class="col-md-4 col-sm-6">
                                                        <div class="single-grid-product">
                                                            <div class="product-image">
                                                                <div class="product-label">
                                                                </div>
                                                                <a asp-controller="AllItems" asp-action="ItemDetails" asp-route-bee="@item.ProductId">
                                                                    <img src="~/images/All_product/@Html.DisplayFor(modelItem => item.Image1)" class="img-fluid" alt="">
                                                                    <img src="~/images/All_product/@Html.DisplayFor(modelItem => item.Image2)" class="img-fluid" alt="">
                                                                </a>
                                                                <div class="product-action">
                                                                    <ul>
                                                                        <li><a href="cart.html"><i class="fa fa-cart-plus"></i></a></li>
                                                                        <li><a href="#quick-view-modal-container-@item.ProductId" data-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                                        <li><a href="javascript:;"><i class="fa fa-heart-o"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-6">
                                                        <div class="product-content-shop-list">
                                                            <div class="product-content">
                                                                <h3 class="title"> <a href="single-product.html">@Html.DisplayFor(modelItem => item.ProductName)</a></h3>
                                                                <div class="product-category-rating">
                                                                    <span class="rating">
                                                                        <i class="fa fa-star active"></i>
                                                                        <i class="fa fa-star active"></i>
                                                                        <i class="fa fa-star active"></i>
                                                                        <i class="fa fa-star active"></i>
                                                                        <i class="fa fa-star-o"></i>
                                                                    </span>
                                                                    <span class="review"><a href="#">(1 則評價)</a></span>
                                                                </div>
                                                                <p class="product-price"><span class="discounted-price">$@Html.DisplayFor(modelItem => item.UnitPrice)</span> <span class="main-price discounted"></span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                </div>
@* 測試 *@
            </div>
@foreach (var item in Model)
{
    <div class="modal fade quick-view-modal-container" id="quick-view-modal-container-@item.ProductId" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-xl-12 col-lg-12">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <!-- Product Details Left -->
                                <div class="product-details-left">
                                    <div class="product-details-images">
                                        <div class="lg-image">
                                            <img src="~/images/All_product/@Html.DisplayFor(modelItem => item.Image1)" alt="">
                                        </div>
                                        <div class="lg-image">
                                            <img src="~/images/All_product/@Html.DisplayFor(modelItem => item.Image2)" alt="">
                                        </div>
                                        <div class="lg-image">
                                            <img src="~/images/All_product/@Html.DisplayFor(modelItem => item.Image3)" alt="">
                                        </div>
                                        <div class="lg-image">
                                            <img src="~/images/All_product/@Html.DisplayFor(modelItem => item.Image4)" alt="">
                                        </div>
                                    </div>
                                    <div class="product-details-thumbs">
                                        <div class="sm-image"><img src="~/images/All_product/@Html.DisplayFor(modelItem => item.Image1)" alt=""></div>
                                        <div class="sm-image"><img src="~/images/All_product/@Html.DisplayFor(modelItem => item.Image2)" alt=""></div>
                                        <div class="sm-image"><img src="~/images/All_product/@Html.DisplayFor(modelItem => item.Image3)" alt=""></div>
                                        <div class="sm-image"><img src="~/images/All_product/@Html.DisplayFor(modelItem => item.Image4)" alt=""></div>
                                    </div>
                                </div>
                                <!--Product Details Left -->
                            </div>
                            <div class="col-lg-8 col-md-6">
                                <!--Product Details Content Start-->
                                <div class="product-details-content">
                                    <!--Product Nav Start-->
                                    <div class="product-nav">
                                        <a href="#"><i class="fa fa-angle-left"></i></a>
                                        <a href="#"><i class="fa fa-angle-right"></i></a>
                                    </div>
                                    <!--Product Nav End-->
                                    <h2>@item.ProductName</h2>
                                    <div class="single-product-reviews">
                                        <i class="fa fa-star active"></i>
                                        <i class="fa fa-star active"></i>
                                        <i class="fa fa-star active"></i>
                                        <i class="fa fa-star active"></i>
                                        <i class="fa fa-star-o"></i>
                                        <a class="review-link" href="#">(1則顧客評價)</a>
                                    </div>
                                    <div class="single-product-price">
                                        <span class="price new-price">$ @item.UnitPrice</span>
                                        @* <span class="regular-price">$77.00</span> *@
                                    </div>
                                    <div class="product-description">
                                        <p>@item.Description</p>
                                    </div>
                                    <div class="single-product-quantity">
                                        <form class="add-quantity" action="#">
                                            <div class="product-quantity">
                                                <input value="1" type="number">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="wishlist-compare-btn">
                                        <a href="" class="wishlist-btn">加入我的最愛</a>
                                        <button class="btn onlyBtn"><i class="ion-bag"></i>加入購物車</button>
                                    </div>
                                    <div class="single-product-sharing">
                                        <h3>分享</h3>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--Product Details Content End-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>

    function addListToCart() {
        var model = @Html.Raw(Json.Serialize(Model));
        console.log(model);
        model = JSON.stringify(model);
        console.log(model);
        // 发送数据到后端的函数
        $.ajax({
            url: '/Cart/AddListToCart', // 替换为你的控制器和操作方法的路由
            method: 'post',
            data: { data: model }, // 将数据转换为 JSON 字符串
            success: function (response) {
                // 在成功时执行的操作
                console.log('成功添加到购物车:', response);
                window.location.href = '/Cart'; // 替換為你的購物車頁面的路由
            },
            error: function (xhr, status, error) {
                // 在失败时执行的操作
                console.error('添加到购物车失败:', error);
            }
        });
    }
</script>

@* <script>
                @foreach(var item in Model)
                    {
                    @:console.log(@item.ProductId, "@Html.Raw(item.Color1)");

                }
                    function addtoCart(productId) {
                        $.ajax()
                    }
</script> *@