@model Project0220.myModels.Customer

@{
	ViewData["Title"] = "Delete";
	Layout = null;
}

<!--引用-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- 引入fontawesome icon -->
<script src="https://kit.fontawesome.com/fcc6a42a47.js" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">

	<div class="container-fluid">
		<a class="navbar-brand" asp-controller="Home" asp-action="Index">
			<img src="~/images/GGLogo.png" width="268.5" height="81.75"
				 class="d-inline-block align-top" alt="">
		</a>
		<a class="navbar-brand" asp-controller="Products" asp-action="Index"><strong>管理者頁面</strong></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-link" asp-controller="Categories" asp-action="Index">Categories</a>
				<a class="nav-link" asp-controller="Customers" asp-action="Index">Customers</a>
				<a class="nav-link" asp-controller="OrderDetails" asp-action="Index">OrderDetails</a>
				<a class="nav-link" asp-controller="Orders" asp-action="Index">Orders</a>
				<a class="nav-link" asp-controller="Products" asp-action="Index">Products</a>
				<a class="nav-link" asp-controller="Suppliers" asp-action="Index">Suppliers</a>
				<a class="nav-link fa-regular fa-paper-plane" asp-controller="Email" asp-action="SendAdEmail"></a>
				@{
					var isAuthenticated = Context.Request.Cookies.ContainsKey("membercookie");
				}
				@if (isAuthenticated)
				{
					<!-- 登出按鈕 -->
					<form asp-controller="Customers" asp-action="Logout" method="post">
						<button type="submit" class="nav-link" style="border:none;background:none;">
							<i class="fa-solid fa-arrow-right-from-bracket"></i>
						</button>
					</form>
				}
			</div>
		</div>
	</div>
</nav>
<br>




<div class="row justify-content-center">
	<div class="col-md-6 mx-auto rounded border p-3">
		<h2 class="text-center mb-5">Delete Customer</h2>

		<h3 class="text-center mb-4">Are you sure you want to delete this?</h3>

		<div>
			<hr />
			<dl class="row">
				<dt class="col-md-4 col-form-label">
					@Html.DisplayNameFor(model => model.CustomerName)
				</dt>
				<dd class="col-md-8 text-center">
					@Html.DisplayFor(model => model.CustomerName)
				</dd>
				<dt class="col-md-4 col-form-label">
					@Html.DisplayNameFor(model => model.DateOfBirth)
				</dt>
				<dd class="col-md-8 text-center">
					@Html.DisplayFor(model => model.DateOfBirth)
				</dd>
				<dt class="col-md-4 col-form-label">
					@Html.DisplayNameFor(model => model.Gender)
				</dt>
				<dd class="col-md-8 text-center">
					@Html.DisplayFor(model => model.Gender)
				</dd>
				<dt class="col-md-4 col-form-label">
					@Html.DisplayNameFor(model => model.MobilePhoneNumber)
				</dt>
				<dd class="col-md-8 text-center">
					@Html.DisplayFor(model => model.MobilePhoneNumber)
				</dd>
				<dt class="col-md-4 col-form-label">
					@Html.DisplayNameFor(model => model.Email)
				</dt>
				<dd class="col-md-8 text-center">
					@Html.DisplayFor(model => model.Email)
				</dd>
				<dt class="col-md-4 col-form-label">
					@Html.DisplayNameFor(model => model.AddressCity)
				</dt>
				<dd class="col-md-8 text-center">
					@Html.DisplayFor(model => model.AddressCity)
				</dd>
				<dt class="col-md-4 col-form-label">
					@Html.DisplayNameFor(model => model.AddressDist)
				</dt>
				<dd class="col-md-8 text-center">
					@Html.DisplayFor(model => model.AddressDist)
				</dd>
				<dt class="col-md-4 col-form-label">
					@Html.DisplayNameFor(model => model.Address)
				</dt>
				<dd class="col-md-8 text-center">
					@Html.DisplayFor(model => model.Address)
				</dd>
				<dt class="col-md-4 col-form-label">
					@Html.DisplayNameFor(model => model.Username)
				</dt>
				<dd class="col-md-8 text-center">
					@Html.DisplayFor(model => model.Username)
				</dd>
				<dt class="col-md-4 col-form-label">
					@Html.DisplayNameFor(model => model.Password)
				</dt>
				<dd class="col-md-8 text-center">
					@Html.DisplayFor(model => model.Password)
				</dd>
			</dl>

			<form method="post" enctype="multipart/form-data" asp-action="Delete">
				<input type="hidden" asp-for="CustomerId" />
				<div class="row">
					<div class="offset-sm-4 col-sm-4 d-grid">
						<button type="submit" class="btn btn-danger">Delete</button>
					</div>
					<div class="col-sm-4 d-grid">
						<a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>




@* <h1>Delete</h1>

		<h3>Are you sure you want to delete this?</h3>
		<div>
		<h4>Customer</h4>
		<hr />
		<dl class="row">
		<dt class="col-sm-2">
		@Html.DisplayNameFor(model => model.CustomerName)
		</dt>
		<dd class="col-sm-10">
		@Html.DisplayFor(model => model.CustomerName)
		</dd>
		<dt class="col-sm-2">
		@Html.DisplayNameFor(model => model.DateOfBirth)
		</dt>
		<dd class="col-sm-10">
		@Html.DisplayFor(model => model.DateOfBirth)
		</dd>
		<dt class="col-sm-2">
		@Html.DisplayNameFor(model => model.Gender)
		</dt>
		<dd class="col-sm-10">
		@Html.DisplayFor(model => model.Gender)
		</dd>
		<dt class="col-sm-2">
		@Html.DisplayNameFor(model => model.MobilePhoneNumber)
		</dt>
		<dd class="col-sm-10">
		@Html.DisplayFor(model => model.MobilePhoneNumber)
		</dd>
		<dt class="col-sm-2">
		@Html.DisplayNameFor(model => model.Email)
		</dt>
		<dd class="col-sm-10">
		@Html.DisplayFor(model => model.Email)
		</dd>
		<dt class="col-sm-2">
		@Html.DisplayNameFor(model => model.AddressCity)
		</dt>
		<dd class="col-sm-10">
		@Html.DisplayFor(model => model.AddressCity)
		</dd>
		<dt class="col-sm-2">
		@Html.DisplayNameFor(model => model.AddressDist)
		</dt>
		<dd class="col-sm-10">
		@Html.DisplayFor(model => model.AddressDist)
		</dd>
		<dt class="col-sm-2">
		@Html.DisplayNameFor(model => model.Address)
		</dt>
		<dd class="col-sm-10">
		@Html.DisplayFor(model => model.Address)
		</dd>
		<dt class="col-sm-2">
		@Html.DisplayNameFor(model => model.Username)
		</dt>
		<dd class="col-sm-10">
		@Html.DisplayFor(model => model.Username)
		</dd>
		<dt class="col-sm-2">
		@Html.DisplayNameFor(model => model.Password)
		</dt>
		<dd class="col-sm-10">
		@Html.DisplayFor(model => model.Password)
		</dd>
		</dl>

		<form asp-action="Delete">
		<input type="hidden" asp-for="CustomerId" />
		<input type="submit" value="Delete" class="btn btn-danger" /> |
		<a asp-action="Index">Back to List</a>
		</form>
		</div> *@
