@using Microsoft.EntityFrameworkCore
@model Project0220.ViewModel.CPTModel
@using Project0220.myModels

 <!--引入的檔案-->

  <link rel="stylesheet" href="~/css/Member/css/MemberHome.css">
  <link rel="stylesheet" href="~/css/Member/css/bootstrap.min.css">
 <!--<script src="~/js/Member_/js/MemberHome.js"></script>--> 
  <script src="~/js/Member_/js/jquery.slim.min.js"> </script>
  <script src="~/js/Member_/js/popper.min.js"> </script>
  <script src="~/js/Member_/js/bootstrap.bundle.min.js"> </script>

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

    </style>






<!-- MemberHome Section -->
<div class="container" style="margin-top: 30px;padding:5px 0px 5px 0px;">
    <div class="row">
        <div class="col-md-12">
          <div>
      <h2>會員中心</h2> 
      
         
        </div>

            <button class="tablink" onclick="openPage('MData', this, 'white')" id="defaultOpen">會員資料</button>
            <button class="tablink" onclick="openPage('MDiscount', this, 'white')" >購物金</button>
            <button class="tablink" onclick="openPage('MOrders', this, 'white')">訂單</button>
            <button class="tablink" onclick="openPage('MFollow', this, 'white')">追蹤商品</button>
            <div class="row">
                <div class="col-md-12">
                    <div id="MData" class="tabcontent">
                        @foreach (var item in Model.Customers)
                        {


                            <p >    @Html.DisplayFor(modelItem => item.CustomerName),你好</p>
                            <span class="m_title">會員資料</span>

                                <!-- 會員資料 -->
        <div class="container">
             <div class="row">
                 <div class="col-md-12">

                     <div class="container">
                         <div class="row">
                             <div class="col-md-6 ">
                                 <div class="form2">
                                     <p><span class="f_title"><b> 姓名 </b> </span><span>   @Html.DisplayFor(modelItem => item.CustomerName)</span></p>
                                     <p><span class="f_title"><b> 生日 </b> </span><span>  @Html.DisplayFor(modelItem => item.DateOfBirth)</span></p>
                                     <p><span class="f_title"><b> 性別 </b> </span><span>   @Html.DisplayFor(modelItem => item.Gender)</span></p>
                                     <p><span class="f_title"><b> 手機 </b> </span><span>   @Html.DisplayFor(modelItem => item.MobilePhoneNumber)</span></p>
                                 </div>
                             </div>
                             <div class=" col-md-6 ">
                                 <div class="form2">
                                     <p><span class="f_title"><b> 地址 </b> </span><span>@Html.DisplayFor(modelItem => item.AddressCity), @Html.DisplayFor(modelItem => item.AddressDist), @Html.DisplayFor(modelItem => item.Address)</span></p>
                                     <p><span class="f_title"><b> 電子郵件 </b> </span><span> @Html.DisplayFor(modelItem => item.Email)</span></p>
                                 </div>
                             </div>
                         </div>
                     </div>

                 </div>
             </div>
             </div>
                        }
 </div>
                    <div id="MDiscount" class="tabcontent">
                        <p>Some news this fine day!</p>
                    </div>

                    <div id="MOrders" class="tabcontent">
                        <p>Get in touch, or swing by for a cup of coffee.</p>
                    </div>

                    <div id="MFollow" class="tabcontent">
     
   <table>

        <tr>
            <th>產品圖片</th>
            <th>產品名稱</th>
            <th>價格</th>
               <th>庫存</th>
                  <th>顏色</th>                
        </tr>
  @foreach (var product in Model.Products)
                                {
               <tr>
                    <th>@product.Image1</th>
                    <th>@product.ProductName</th>
                    <th>@product.UnitPrice</th>
                   <th>@product.UnitInStock</th>
                    <th>@product.Color1</th>                 
               </tr>

                                } 
       </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MemberHome Section End -->

 <!-- 在页面加载时直接设置默认选项卡的样式 -->
<script>

    document.addEventListener("DOMContentLoaded", function () {
        showDefaultTab("MDiscount", "white"); // 设置默认选项卡和颜色
    });

    function showDefaultTab(tabId, color) {
        var tabcontent = document.getElementsByClassName("tabcontent");
        var tablinks = document.getElementsByClassName("tablink");

        // 隐藏所有选项卡内容
        for (var i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // 取消所有选项卡链接的背景颜色
        for (var i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }

        // 显示默认选项卡内容并设置背景颜色
        var defaultTab = document.getElementById(tabId);
        if (defaultTab) {
            defaultTab.style.display = "block";
            defaultTab.style.backgroundColor = color;
        }
    }

    // Define the openPage function
 function openPage(pageName, elmnt, color) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
  }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].style.backgroundColor = "";
  }
    document.getElementById(pageName).style.display = "block";
    elmnt.style.backgroundColor = color;
}

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();

</script>
<div>
     @foreach (var item in Model.Customers)
                        {
    <a asp-action="Edit" asp-route-id=" @item.CustomerId">修改會員資料</a> 
 <!-- <a asp-action="Index">Back to List</a>   -->

                        }
</div>

