@model Project0220.myModels.Customer



<!--引入-->
<link rel="stylesheet" href="~/css/Member/css/MemberEdit.css">


<!-- 引入fontawesome icon -->
<script src="https://kit.fontawesome.com/fcc6a42a47.js" crossorigin="anonymous"></script>




@{
	Layout = null;
}


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project0220</title>
    <link rel="shortcut icon" href="favicon.ico" />

    @* 公版套用格式在這 *@
    @*
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project0220.styles.css" asp-append-version="true" /> *@
    <!-- 引入 Bootstrap CSS，4.6.2版 -->
    <link rel="stylesheet" href="~/css/publiclayout/bootstrap.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <!-- 引入 jQuery，Bootstrap官網寫與JS4.6.2綑綁的jQuery版本為3.5.1，https://getbootstrap.com/docs/4.6/getting-started/introduction/ -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <!-- 引入 Bootstrap JavaScript，跟Bootstrap CSS同版本 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
    <!-- 引入fontawesome icon -->
    <script src="https://kit.fontawesome.com/fcc6a42a47.js" crossorigin="anonymous"></script>


    @* 公版套用格式在這 *@

    <link rel="stylesheet" href="~/css/All_product/css/iconfont.min.css">
    <link rel="stylesheet" href="~/css/All_product/css/helper.css">
    <link rel="stylesheet" href="~/css/All_product/css/plugins.css">
    <link rel="stylesheet" href="~/css/All_product/css/style.css">
    <link rel="stylesheet" href="~/css/publiclayout/StyleSheet.css">
    <script src="~/js/All_product/js/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <header>
        @* 公版導航欄在這 *@
        @* 若要調整網頁最上行的nav部分<nav class=可以加入container，跟下面所有頁面對齊> *@
        <nav class="navbar navbar-expand-lg navbar-light bg-light navnav">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/images/GGLogo.png" width="268.5" height="81.75"
                         class="d-inline-block align-top" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link NAV" asp-controller="Home" asp-action="Index">首頁<span class="sr-only">(current)</span></a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link NAV" asp-controller="AllItems" asp-action="Index">產品</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link NAV" asp-controller="AllItems" asp-action="New">新品專區</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link NAV" asp-controller="AllItems" asp-action="Clearance">出清品專區</a>
                        </li>
                        <form class="form-inline my-2 my-lg-0 mr-2" method="post" action="~/AllItems/Search">
                            <input class="form-control mr-sm-2" type="search" placeholder="搜尋您想找的物品"
                                   aria-label="Search" name="bee">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜尋</button>
                        </form>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Customers" asp-action="UserProfile"><i class="fa-regular fa-user" style="font-size: 24px;padding-top: 6px;"></i></a>
                        </li>


                        <!--購物車icon-->
                        <li class="nav-item">
                            <a class="nav-link" href="~/Cart/Index">
                                <i class="fa-solid fa-cart-shopping" style="font-size: 24px;padding-top: 6px;"></i>
                                <span id="cartCount" class="cart-badge">0</span> <!-- 數量示例 -->
                            </a>
                        </li>


                        @{
                            var isAuthenticated = Context.Request.Cookies.ContainsKey("membercookie");
                        }

                        @if (isAuthenticated)
                        {
                                <!-- 登出按鈕 -->
                                <form asp-controller="Customers" asp-action="Logout" method="post">
                                    <button type="submit" class="nav-link" style="border:none;background:none;">
                                        <i class="fa-solid fa-arrow-right-from-bracket" style="font-size: 24px;padding-top: 6px;"></i>
                                    </button>
                                </form>

                        }

                        @{
                            var isAdmin = Context.Request.Cookies["isAdmin"];
                            var userRole = Context.Request.Cookies["userRole"];
                        }


                        @if (userRole != null)
                        {
                                <a class="nav-link fa-solid fa-route" style="font-size: 24px;padding-top: 13px;" asp-controller="Products" asp-action="Index"></a>
                        }


                    </ul>
                </div>
            </div>
        </nav>

 
    </header>
   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/All_product/js/jquery-1.12.4.min.js"></script>
    <script src="~/js/All_product/js/popper.min.js"></script>
    <script src="~/js/All_product/js/bootstrap.min.js"></script>
    <script src="~/js/All_product/js/plugins.js"></script>
    <script src="~/js/All_product/js/main.js"></script>

   

    <script>
        $(document).ready(function () {
            // 定義一個函數來獲取購物車總數量並更新購物車圖示上的數量
            function updateCartCount() {
                $.ajax({
                    url: '/Cart/GetCartTotalCount', // 調用後端的URL
                    method: 'POST',
                    dataType: 'json',
                    success: function (data) {
                        // 更新購物車圖示上的總數量
                        $('#cartCount').text(data.totalCount);
                    },
                    error: function (error) {
                        console.error('發生錯誤：' + error.status);
                    }
                });
            }

            // 頁面加載時初始化購物車總數量
            updateCartCount();

            // 定期更新購物車總數量（例如每次頁面訪問後）
            // 請根據您的需求調整時間間隔
            setInterval(updateCartCount, 1000); // 1000毫秒，即1秒
        });
    </script>


</body>

</html>

<!--Member Register Section-->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit">
                <h3 class="title">修改會員資料</h3>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CustomerId" />
                <div class="form-group">
                    <label asp-for="CustomerName" class="control-label"><h3>姓名</h3></label>
                    <input asp-for="CustomerName" class="form-control" />
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfBirth" class="control-label"><h3>生日</h3></label>
                    <div class=selectBirthday>
                        <input asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"><h3>性別</h3></label>
                    <div class="selectAddress">
                        <select asp-for="Gender" class="form-control">
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="MobilePhoneNumber" class="control-label"><h3>電話</h3></label>
                    <input asp-for="MobilePhoneNumber" class="form-control" />
                    <span asp-validation-for="MobilePhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"><h3>電子郵件</h3></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
  
                <!-- 城市下拉選單 -->
                <div class="form-group">
                    <label asp-for="AddressCity" class="control-label"><h3>城市</h3></label>
                    <div class="selectAddress">
                        <select asp-for="AddressCity" class="form-control" id="city" name="AddressCity" >
                     <option value="@Model.AddressCity" selected>@Model.AddressCity</option></select>
                        <span asp-validation-for="AddressCity" class="text-danger" ></span>
                    </div>
                </div>

                <!-- 區域下拉選單 -->
                <div class="form-group">
                    <label asp-for="AddressDist" class="control-label"><h3>地區</h3></label>
                    <div class="selectAddress">
                        <select asp-for="AddressDist" class="form-control" id="district" name="AddressDist" >
                   <option value="@Model.AddressDist" selected>@Model.AddressDist</option></select>
                        <span asp-validation-for="AddressDist" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Address" class="control-label"><h3>地址</h3></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Username" class="control-label"><h3>使用者帳號</h3></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @* <label asp-for="Password" class="control-label">密碼 </label> *@
                    <input asp-for="Password" class="form-control"  style="display:none" type="password"  />
                    <a asp-action="UpdatePassword" asp-controller="UpdatePwd" asp-route-id="@Model.CustomerId" style="color:cornflowerblue"><h4>重置密碼</h4></a>
        @* 					<span asp-action="ForgetPassword" class="text-danger">重設密碼</span> *@
                </div>

                <div class="form-group">
                    <input type="submit" value="儲存更改" class="btn btn-primary" />
                </div>
            </form>

</div>
</div>
</div>

<!--Member Register Section End-->


@* 公版footer在這 *@
    <footer class="footer mt-auto py-3" style="background-color: #E4DBD2; color: #4A475C;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 ">
                    <h5><b>門市資訊</b></h5>
                    <ul class="list-unstyled">
                        <li>電話: 04-24521111</li>
                        <li>地址: 台中市南屯區公益路51號</li>
                        <li>Email: info@GplusplusG.com</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5><b>客服中心</b></h5>
                    <ul class="list-unstyled">
                        <li><a asp-area="" asp-controller="Home" asp-action="FooterLink01"><i class="footer-link 01"></i>聯絡我們</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="FooterLink02"><i class="footer-link 02"></i>常見問題</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="FooterLink03"><i class="footer-link 03"></i>客戶意見回饋</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="FooterLink04"><i class="footer-link 04"></i>隱私權及網站使用條款</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5><b>付款方式</b></h5>
                    <ul class="list-unstyled">
                        <li><a asp-area="" asp-controller="Home" asp-action="FooterLink02"><i class="fa-solid fa-money-bill-transfer"></i> 轉帳</a></li>
                        <li><a><i class="fa-brands fa-cc-visa"></i> VISA</a></li>
                        <li><a><i class="fa-brands fa-cc-mastercard"></i> MASTERCARD</a></li>
                        <li><a><i class="fa-brands fa-cc-jcb"></i> JCB</a></li>
                        <li><a><i class="fa-brands fa-cc-amex"></i> AMEX</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5><b>社群媒體</b></h5>
                    <ul class="list-unstyled">
                        <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i> Facebook</a></li>
                        <li><a href="https://www.youtube.com/"><i class="fab fa-youtube"></i> YouTube</a></li>
                        <li><a href="https://twitter.com/home"><i class="fab fa-twitter"></i> Twitter</a></li>
                        <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> Instagram</a></li>
                        <li><a href="https://line.me/R/ti/p/@@644flrgx"><i class="fa-brands fa-line"></i> LINE</a></li>
                    </ul>

                    </ul>

                </div>

            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="mb-0">Copyright &copy; 2024 居家家居 All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
@* 公版footer在這 *@



<script>


    var citySelect = document.getElementById('city');
    var districtSelect = document.getElementById('district');

    var taiwanCities = {
    "台北市": ["中正區", "大同區", "中山區", "松山區", "大安區", "萬華區", "信義區", "士林區", "北投區", "內湖區", "南港區", "文山區"],
    "新北市": ["板橋區", "新莊區", "中和區", "永和區", "土城區", "樹林區", "三峽區", "鶯歌區", "三重區", "蘆洲區", "五股區", "泰山區", "林口區", "八里區", "淡水區", "三芝區", "石門區"],
    "桃園市": ["中壢區", "平鎮區", "龍潭區", "楊梅區", "新屋區", "觀音區", "桃園區", "龜山區", "八德區", "大溪區", "復興區"],
    "台中市": ["中區", "東區", "南區", "西區", "北區", "北屯區", "西屯區", "南屯區", "太平區", "大里區", "霧峰區", "烏日區", "豐原區", "后里區", "石岡區", "東勢區", "和平區", "新社區", "潭子區", "大雅區", "神岡區", "大肚區", "沙鹿區", "龍井區", "梧棲區", "清水區", "大甲區", "外埔區", "大安區"],
    "台南市": ["中西區", "東區", "南區", "北區", "安平區", "安南區", "永康區", "歸仁區", "新化區", "左鎮區", "玉井區", "楠西區", "南化區", "仁德區", "關廟區", "龍崎區", "官田區", "麻豆區", "佳里區", "西港區", "七股區", "將軍區", "學甲區", "北門區", "新營區", "後壁區", "白河區", "東山區", "六甲區", "下營區", "柳營區", "鹽水區", "善化區", "大內區", "山上區", "新市區", "安定區"],
    "高雄市": ["新興區", "前金區", "苓雅區", "鹽埕區", "鼓山區", "旗津區", "前鎮區", "三民區", "楠梓區", "小港區", "左營區", "仁武區", "大社區", "岡山區", "路竹區", "阿蓮區", "田寮區", "燕巢區", "橋頭區", "梓官區", "彌陀區", "永安區", "湖內區", "鳳山區", "大寮區", "林園區", "鳥松區", "大樹區", "旗山區", "美濃區", "六龜區", "內門區", "杉林區", "甲仙區", "桃源區", "那瑪夏區", "茂林區", "茄萣區"],
    "基隆市": ["仁愛區", "信義區", "中正區", "中山區", "安樂區", "暖暖區"],
    "新竹市": ["東區", "北區", "香山區"],
    "嘉義市": ["東區", "西區"],
    "新竹縣": ["竹北市", "竹東鎮", "新埔鎮", "關西鎮"],
    "苗栗縣": ["苗栗市", "頭份市", "竹南鎮", "三義鄉"],
    "彰化縣": ["彰化市", "員林市", "鹿港鎮", "和美鎮"],
    "南投縣": ["南投市", "埔里鎮", "草屯鎮", "竹山鎮"],
    "雲林縣": ["斗六市", "斗南鎮", "虎尾鎮", "西螺鎮"],
    "嘉義縣": ["太保市", "朴子市", "布袋鎮", "新港鄉"],
    "屏東縣": ["屏東市", "潮州鎮", "恆春鎮", "東港鎮"],
    "宜蘭縣": ["宜蘭市", "羅東鎮", "礁溪鄉", "頭城鎮"],
    "花蓮縣": ["花蓮市", "鳳林鎮", "玉里鎮", "吉安鄉"],
    "台東縣": ["台東市", "成功鎮", "太麻里鄉", "鹿野鄉"],
    "澎湖縣": ["馬公市", "湖西鄉", "白沙鄉", "西嶼鄉"],
    "金門縣": ["金城鎮", "金湖鎮", "金沙鎮", "金寧鄉"],
    "連江縣": ["南竿鄉", "北竿鄉", "莒光鄉", "東引鄉"],
    };
    // 這裡放入生成城市和地區下拉選單的 JavaScript 代碼


    // 初始化城市選項
    for (var city in taiwanCities) {
        var option = document.createElement('option');
    option.value = city;
    option.text = city;
    citySelect.add(option);
    }

    // 根據選擇的城市更新區域選項
    citySelect.addEventListener('change', function () {
        var selectedCity = citySelect.value;
 //   districtSelect.innerHTML = ''; // 清空區域選項

    // 根據選擇的城市添加相應區域選項
    for (var i = 0; i < taiwanCities[selectedCity].length; i++) {
            var districtOption = document.createElement('option');
    districtOption.value = taiwanCities[selectedCity][i];
    districtOption.text = taiwanCities[selectedCity][i];
    districtSelect.add(districtOption);
        }
    });


    // 初始化一次，以顯示預設城市的區域選項
    citySelect.dispatchEvent(new Event('change'));


    </script>



