@model IEnumerable<Project0220.myModels.Customer>


@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<h2 class="text-center mb-5">Customers 會員資料</h2>


<div class="container-fluid">
	<div class="row mb-5">
		<div class="col-md-6">
			<br />
			@*   註解掉Create按鈕 *@
			@*  <a class="btn btn-primary" asp-controller="Customers" asp-action="Create_Admin">Create</a> *@
		</div>
		<div class="col-md-6">
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>CustomerID</th>
					<th>CustomerName</th>
					<th>DateOfBirth</th>
					<th>Gender</th>
					<th>PhoneNumber</th>
					<th>Email</th>
					<th>Address_City</th>
					<th>Address_Dist</th>
					<th>Address</th>
					<th>UserName</th>
					<th>Password</th>
					<th>Admin</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var customer in Model)
				{
					<tr>
						<td>@customer.CustomerId</td>
						<td>@customer.CustomerName</td>
						@* <td>@customer.DateOfBirth</td> *@
						<td>@Html.DisplayFor(modelItem => customer.DateOfBirth)</td>
						<td>@customer.Gender</td>
						<td>@customer.MobilePhoneNumber</td>
						<td class="MyEmail">@customer.Email</td>
						<td>@customer.AddressCity</td>
						<td>@customer.AddressDist</td>
						<td>@customer.Address</td>
						<td class="Username">@customer.Username</td>
						<td class="MyPassword">@customer.Password</td>
						<td>@customer.Admin</td>
						@*<td>@category.CreatedAt.ToString("yyyy/MM/dd")</td> *@
						<td style="white-space: nowrap;">
							<a class="btn btn-primary btn-sm" asp-controller="Customers" asp-action="Edit_Admin"
							   asp-route-id="@customer.CustomerId">
								<i class="fa-regular fa-pen-to-square"></i>
						   </a>
							<a class="btn btn-danger btn-sm" asp-controller="Customers" asp-action="Delete"
							   asp-route-id="@customer.CustomerId">
								<i class="fa-regular fa-trash-can"></i>
						   </a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>