@model List<Project0220.myModels.CartItem>

<!-- All css files are included here. -->
<link rel="stylesheet" href="~/css/Cart/css/iconfont.min.css">
<link rel="stylesheet" href="~/css/Cart/css/helper.css">
<link rel="stylesheet" href="~/css/Cart/css/plugins.css">
<link rel="stylesheet" href="~/css/Cart/css/style.css">
@* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10"> *@
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">

<!-- Modernizr JS -->
<script src="~/js/Cart/js/modernizr-2.8.3.min.js"></script>


<style>

    * { 
    margin: 0; 
    padding: 0
} 

html { 
    height: 100%
} 

h2{ 
    color: black; 
} 
#form { 
    text-align: center; 
    position: relative; 
    margin-top: 20px
} 

#form fieldset { 
    background: white; 
    border: 0 none; 
    border-radius: 0.5rem; 
    box-sizing: border-box; 
    width: 100%; 
    margin: 0; 
    padding-bottom: 20px; 
    position: relative
} 

.finish { 
    text-align: center
} 

#form fieldset:not(:first-of-type) { 
    display: none
} 

#form .previous-step, .next-step { 
    width: 100px; 
    font-weight: bold; 
    color: white; 
    border: 0 none; 
    border-radius: 0px; 
    cursor: pointer; 
    padding: 10px 5px; 
    margin: 10px 5px 10px 0px; 
    float: right
} 

.form, .previous-step { 
    background: #616161; 
} 

.form, .next-step { 
    background: #2F8D46; 
} 

#form .previous-step:hover, 
#form .previous-step:focus { 
    background-color: #000000
} 

#form .next-step:hover, 
#form .next-step:focus { 
    background-color: #2F8D46
} 

.text { 
    color: #9bacc1;
    font-weight: normal;

} 

#progressbar { 
    margin-bottom: 30px; 
    overflow: hidden; 
    color: lightgrey 
} 

#progressbar .active { 
    color: #9bacc1;
} 

#progressbar li { 
    list-style-type: none; 
    font-size: 15px; 
    width: 25%; 
    float: left; 
    position: relative; 
    font-weight: 400
} 

#progressbar #step1:before { 
    content: "1"
} 

#progressbar #step2:before { 
    content: "2"
} 

#progressbar #step3:before { 
    content: "3"
} 

#progressbar #step4:before { 
    content: "4"
} 

#progressbar li:before { 
    width: 50px; 
    height: 50px; 
    line-height: 45px; 
    display: block; 
    font-size: 20px; 
    color: #ffffff; 
    background: lightgray; 
    border-radius: 50%; 
    margin: 0 auto 10px auto; 
    padding: 2px
} 

#progressbar li:after { 
    content: ''; 
    width: 100%; 
    height: 2px; 
    background: lightgray; 
    position: absolute; 
    left: 0; 
    top: 25px; 
    z-index: -1
} 

#progressbar li.active:before, 
#progressbar li.active:after { 
    background: #9bacc1;
} 

.progress { 
    height: 20px;
     width: 100%;
} 

.progress-bar { 
    background-color: #9bacc1;
    width:100%;
}

</style>

<body> 
    <div class="container"> 
        <div class="row justify-content-center"> 
            <div class="col-12"> 
                <div class="px-0 pt-4 pb-0 mt-3 mb-3"> 
                    <form id="form"> 
                        <ul id="progressbar"> 
                            <li class="active" id="step1"> 
                                <strong style="font-size:18px;">購物車</strong> 
                            </li> 
                            <li id="step2"><strong  style="font-size:18px;">收件資訊</strong></li> 
                            <li id="step3"><strong  style="font-size:18px;">確認結帳</strong></li> 
                            <li id="step4"><strong  style="font-size:18px;">完成訂單</strong></li> 
                        </ul> 

                    </form> 
                </div> 
            </div> 
        </div> 
    </div> 
</body> 
<script src="script.js"></script> 

</html> 


@if (Model != null && Model.Any())
{
        <div class="container-01">
            <div class="row">

                <div class="col-12">
                    <!-- Cart Table -->
                    <div class="cart-table table-responsive mb-30">
                        <table class="table" style="margin-top:30px;">
                            <thead>
                                <tr>
                                    <th class="pro-thumbnail">產品編號</th>
                                    <th class="pro-title">產品圖示</th>
                                    <th class="pro-color">產品名稱</th>
                                    <th class="pro-quantity">顏色</th>
                                    <th class="pro-subtotal">數量</th>
                                    <th class="pro-remove">單價</th>
                                    <th class="pro-remove">刪除</th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                        <tr>
                                            <td name="ProductID">@item.ProductID</td>
                                            <td><img src="~/images/All_product/@item.Product.Image1" alt="" width="70"></td>
                                            <td name="ProductName">@item.Product.ProductName</td>
                                             <td name="ProductColor">@item.SelectedColor</td>
                                            <td>
                                                <form method="post" asp-controller="Cart" asp-action="UpdateCartItemQuantity">
                                                    <input type="hidden" name="cartItemId" value="@item.CartItemID" />
                                                    <input type="number" class="update" name="newQuantity" value="@item.Quantity" min="1" />
                                                </form>
                                            </td>
                                            <td>$@item.Product.UnitPrice</td>
                                            <td>
                                                <form method="post" asp-controller="Cart" asp-action="RemoveFromCart" class="removeFromCartForm">
                                                    <input type="hidden" name="cartItemId" value="@item.CartItemID" />
                                                    <button type="submit" style="border: none; background-color: transparent;"><i class="fa-solid fa-trash-can" style="color: #000000;"></i></button>
                                                </form>
                                            </td>
                                        </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <div class="text-end" style="display: flex; align-items: center; justify-content: space-between;">
                        <form method="post" asp-controller="Cart" asp-action="EmptyCart" style="margin-bottom: 0;">
                            <!-- 清空購物車按鈕 -->
                                <button type="submit" style="font-weight: bold; padding: 5px 10px; background-color: #9bacc1; color:white; border: none;">清空購物車</button>
                        </form>
                        <div>
                            <p style="display: inline-block; font-size:20px; margin-right: 10px;">總商品數量: <span id="totalQuantity"></span></p>
                            <p style="display: inline-block; font-size:20px; margin-right: 70px;">總價格: $<span id="totalPrice"></span></p>
                        </div>


                    </div>
                </div>
            </div>
        </div>

}

else
{
        <div class="container">
            <p class="mt-4">您的購物車為空。</p>
        </div>
}


<div class="cart-summary-button" style="text-align: center; margin-top:100px;">
    @* 改類別名稱cart-button01 *@
    <a class="cart-button01" style="font-weight: bold;" asp-controller="AllItems" asp-action="Index"><i class="fa-solid fa-cart-shopping">&nbsp;</i>繼續購物</a>
    <a id="payment" class="cart-button01" style="font-weight: bold;" asp-controller="CheckOut" asp-action="Consignee"><i class="fa-solid fa-cash-register">&nbsp;</i>繼續結帳</a>
</div>
<script>
    var forms = document.getElementsByClassName('removeFromCartForm');

   // 對每個表單添加事件處理程序
for (var i = 0; i < forms.length; i++) {
    forms[i].addEventListener('submit', function(event) {
        event.preventDefault(); // 阻止表單提交
        Swal.fire({
            title: '您確定?',
            text: "您確定要刪除這個項目嗎？",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d2b6b3',
            cancelButtonColor: '#adb7c2',
            confirmButtonText: '是的, 刪除它!',
            cancelButtonText: '不，我要加入追蹤!'
        }).then((result) => {
            if (result.isConfirmed) {
                this.submit(); // 提交該表單
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                var productId = this.closest('tr').querySelector('td[name="ProductID"]').innerText; // 獲取相關的產品 ID
                   var productColor = this.closest('tr').querySelector('td[name="ProductColor"]').innerText;
                     var productName = this.closest('tr').querySelector('td[name="ProductName"]').innerText;
           
                console.log("你好!!");
                addToTrack(productId,productColor); // 執行其他操作
            }
        });
    });
}

    function addToTrack(productId,productColor) {
        var data={"ProductId": productId,"Color":productColor,};
     
        console.log(data);
    $.ajax({
        url: '/AllItems/Follow',
        method: "post",
      
         contentType: "application/json",
           data: JSON.stringify(data),
        success: function(data) {
            if (data.success) {
                Swal.fire('成功', data.message, 'success');
            } else {
                Swal.fire('錯誤', data.message, 'error');
            }
        },
        error: function(xhr, status, error) {
            console.error('Error:', error);
            Swal.fire('錯誤', '請求失敗。', 'error');
        }
    });
}





    @* 在頁面加載時計算總價格和總商品數量 *@
        $(document).ready(function () {
            calculateTotal();
        });

    @* 監聽數量更改事件 *@
        $(".update").on('change', function () {
            var quantity = $(this).val();
            var id = $(this).closest("form").find("[name=cartItemId]").val();
            updateCartItemQuantity(id, quantity);
        });

    @*  更新購物車項目數量 *@
        function updateCartItemQuantity(cartItemId, quantity) {
            var data = {};
            data["CartItemID"] = cartItemId;
            data["Quantity"] = quantity;
            data = JSON.stringify(data);
            $.ajax({
                url: "/Cart/UpdateCartItemQuantity",
                method: "post",
                data: {
                    "data": data
                },
                success: function (result) {
                    alert("更新成功");
                    calculateTotal(); @*  更新總價格和總商品數量 *@
                        },
                error: function (error) {
                    console.error("發生錯誤:", error);
                }
            });
        }

    @*   計算總價格和總商品數量 *@
        function calculateTotal() {
            var totalPrice = 0;
            var totalQuantity = 0;
            $(".update").each(function () {
                var price = parseFloat($(this).closest("tr").find("td:eq(5)").text().replace("$", ""));
                var quantity = parseInt($(this).val());
                totalPrice += price * quantity;
                totalQuantity += quantity;
            });
            $("#totalPrice").text(totalPrice.toFixed(0));
            $("#totalQuantity").text(totalQuantity);
        }




</script>






<!-- All jquery file included here -->
<script src="~/js/Cart/js/jquery-1.12.4.min.js"></script>
<script src="~/js/Cart/js/popper.min.js"></script>
<script src="~/js/Cart/js/bootstrap.min.js"></script>
<script src="~/js/Cart/js/plugins.js"></script>
<script src="~/js/Cart/js/main.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


