@model List<Project0220.myModels.CartItem>

@if (Model != null && Model.Any())
{
    <div class="container">
        <h1 class="mt-4 mb-4">購物車</h1>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">產品ID</th>
                            <th scope="col">產品圖示</th>
                            <th scope="col">產品名稱</th>
                            <th scope="col">價格</th>
                            <th scope="col">選擇的顏色</th>
                            <th scope="col">數量</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ProductID</td>
                                <td><img src="~/images/All_product/@item.Product.Image1" alt="" width="70"></td>
                                <td>@item.Product.ProductName</td>
                                <td>$@item.Product.UnitPrice</td>
                                <td>@item.SelectedColor</td>
                                <td>
                                    <form method="post" asp-controller="Cart" asp-action="UpdateCartItemQuantity">
                                        <input type="hidden" name="cartItemId" value="@item.CartItemID" />
                                        <input type="number" class="update" name="newQuantity" value="@item.Quantity" min="1" />
                                    </form>
                                </td>
                                <td>
                                    <form method="post" asp-controller="Cart" asp-action="RemoveFromCart">
                                        <input type="hidden" name="cartItemId" value="@item.CartItemID" />
                                        <button type="submit" class="btn btn-danger">移除</button>
                                    </form>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <p class="mt-4">您的購物車為空。</p>
    </div>
}
<script>

        $(".update").on('change',function(){
            var quantity= $(this).val();
            var id = $(this).closest("form").find("[name=cartItemId]").val();
            console.log("quantity:",quantity,"id:",id);
            var data = {};
            data["CartItemID"]=id;
            data["Quantity"]=quantity;
            data= JSON.stringify(data);
            console.log(data);
              $.ajax({
             url:"/Cart/UpdateCartItemQuantity",
             method:"post",
            data:{"data":data},
             success:function (result){
                 alert("更新成功");

             },
             error:function (error){
                 console.error("發生錯誤:",error);
             }


         });




        })

       

        

</script>